@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6c83j0');
  src:  url('fonts/icomoon.eot?6c83j0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6c83j0') format('truetype'),
    url('fonts/icomoon.woff?6c83j0') format('woff'),
    url('fonts/icomoon.svg?6c83j0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e905";
}
.icon-magnifying-glass:before {
  content: "\e907";
}
.icon-shopping-bag:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90e";
}
.icon-phone-call:before {
  content: "\e900";
  color: #e88192;
}
.icon-award:before {
  content: "\e901";
  color: #e88192;
}
.icon-email:before {
  content: "\e904";
  color: #e88192;
}
.icon-instagram:before {
  content: "\e906";
  color: #e88192;
}
.icon-more:before {
  content: "\e908";
}
.icon-package:before {
  content: "\e909";
  color: #e88192;
}
.icon-phone-call-body:before {
  content: "\e90a";
  color: #e88192;
}
.icon-placeholder:before {
  content: "\e90b";
  color: #e88192;
}
.icon-towel:before {
  content: "\e90d";
  color: #e88192;
}
.icon-wallet:before {
  content: "\e90f";
  color: #e88192;
}
.icon-settings:before {
  content: "\e913";
}
.icon-menu:before {
  content: "\e911";
}
.icon-menu-grid:before {
  content: "\e912";
  color: #e88192;
}
.icon-close:before {
  content: "\e910";
}
.icon-checked:before {
  content: "\e902";
  color: #e88192;
}
.icon-down-arrow:before {
  content: "\e903";
}
