<?php echo $header; ?>
    <div class="breadcrumb-block breadcrumb-account">
        <div class="container">
            <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <?php foreach ($breadcrumbs as $i => $breadcrumb) { ?>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <?php if ($i + 1 < count($breadcrumbs)) { ?>
                            <a itemscope itemtype="http://schema.org/Thing" itemprop="item"
                               id="<?php echo $breadcrumb['href']; ?>" href="<?php echo $breadcrumb['href']; ?>">
                                <span itemprop="name"><?php echo $breadcrumb['text']; ?></span>
                            </a>
                        <?php } else { ?>
                            <span itemscope itemtype="http://schema.org/Thing" itemprop="item"
                                  id="<?php echo $breadcrumb['href']; ?>">
                            <span itemprop="name"><?php echo $breadcrumb['text']; ?></span>
                        </span>
                        <?php } ?>
                        <meta itemprop="position" content="<?php echo $i ?>"/>
                    </li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div class="container">
        <?php if ($success) { ?>
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        <?php } ?>
        <?php if ($error_warning) { ?>
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        <?php } ?>
        <div class="row"><?php echo $column_left; ?>
            <?php if ($column_left && $column_right) { ?>
                <?php $class = 'col-sm-6'; ?>
            <?php } elseif ($column_left || $column_right) { ?>
                <?php $class = 'col-md-9'; ?>
            <?php } else { ?>
                <?php $class = 'col-sm-12'; ?>
            <?php } ?>
            <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
                <h1><?php echo $heading_title; ?></h1>
                <div class="table-zakaz">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td class="text-left" colspan="2"><?php echo $text_order_detail; ?></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-left" style="width: 50%;"><?php if ($invoice_no) { ?>
                                    <b><?php echo $text_invoice_no; ?></b> <?php echo $invoice_no; ?><br/>
                                <?php } ?>
                                <b><?php echo $text_order_id; ?></b> #<?php echo $order_id; ?><br/>
                                <b><?php echo $text_date_added; ?></b> <?php echo $date_added; ?></td>
                            <td class="text-left"><?php if ($payment_method) { ?>
                                    <b><?php echo $text_payment_method; ?></b> <?php echo $payment_method; ?><br/>
                                <?php } ?>
                                <?php if ($shipping_method) { ?>
                                    <b><?php echo $text_shipping_method; ?></b> <?php echo $shipping_method; ?>
                                <?php } ?></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-zakaz">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td class="text-left" style="width: 50%;"><?php echo $text_payment_address; ?></td>
                            <?php if ($shipping_address) { ?>
                                <td class="text-left"><?php echo $text_shipping_address; ?></td>
                            <?php } ?>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-left"><?php echo $payment_address; ?></td>
                            <?php if ($shipping_address) { ?>
                                <td class="text-left"><?php echo $shipping_address; ?></td>
                            <?php } ?>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-zakaz">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td class="text-left"><?php echo $column_name; ?></td>
                            <td class="text-left"><?php echo $column_model; ?></td>
                            <td class="text-right"><?php echo $column_quantity; ?></td>
                            <td class="text-right"><?php echo $column_price; ?></td>
<!--                            <td class="text-right">--><?php //echo $column_total; ?><!--</td>-->

                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($products as $product) { ?>
                            <tr>
                                <td class="text-left"><?php echo $product['name']; ?>
                                    <?php foreach ($product['option'] as $option) { ?>
                                        <br/>
                                        &nbsp;
                                        <small> - <?php echo $option['name']; ?>
                                            : <?php echo $option['value']; ?></small>
                                    <?php } ?></td>
                                <td class="text-left"><?php echo $product['model']; ?></td>
                                <td class="text-right"><?php echo $product['quantity']; ?></td>
                                <td class="text-right"><?php echo $product['price']; ?></td>
<!--                                <td class="text-right">--><?php //echo $product['total']; ?><!--</td>-->
                            </tr>
                        <?php } ?>
                        <?php foreach ($vouchers as $voucher) { ?>
                            <tr>
                                <td class="text-left"><?php echo $voucher['description']; ?></td>
                                <td class="text-left"></td>
                                <td class="text-right">1</td>
                                <td class="text-right"><?php echo $voucher['amount']; ?></td>
<!--                                <td class="text-right">--><?php //echo $voucher['amount']; ?><!--</td>-->
                            </tr>
                        <?php } ?>
                        </tbody>
                        <tfoot>
                        <?php foreach ($totals as $total) { ?>
                            <tr>
                                <td colspan="4" class="text-right txt">
                                    <span class="pull-left txt"><?php echo $column_total; ?></span>
                                    <span class="pull-right total"><?php echo $total['text']; ?></span>
                                </td>
                            </tr>
                        <?php } ?>
                        </tfoot>
                    </table>
                </div>
                <?php if ($comment) { ?>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td class="text-left"><?php echo $text_comment; ?></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-left"><?php echo $comment; ?></td>
                        </tr>
                        </tbody>
                    </table>
                <?php } ?>
                <?php if ($histories) { ?>
                    <h2><?php echo $text_history; ?></h2>
                <div class="table-zakaz">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td class="text-left"><?php echo $column_date_added; ?></td>
                            <td class="text-left"><?php echo $column_status; ?></td>
                            <td class="text-left"><?php echo $column_comment; ?></td>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($histories as $history) { ?>
                            <tr>
                                <td class="text-left"><?php echo $history['date_added']; ?></td>
                                <td class="text-left"><?php echo $history['status']; ?></td>
                                <td class="text-left"><?php echo $history['comment']; ?></td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
                <?php } ?>
                <div class="buttons clearfix">
                    <div class="pull-right margin_b_60"><a href="<?php echo $continue; ?>"
                                               class="btn"><?php echo $button_continue; ?></a></div>
                </div>
                <?php echo $content_bottom; ?></div>
            <?php echo $column_right; ?></div>
    </div>
<?php echo $footer; ?>