.fixed_menu{
  padding-top: 181px;
}

.image_mobal{
  display: none;
}
img{
  pointer-events:none;
}
.product_preview-content .btn-wishlist {
  font-size: 0;
  i{
    font-size: 28px;
  }
}
.btn-wishlist{
  &.active {
    pointer-events: none;
    i{
      color: #e88192;
    }
  }
  height: 50px;
  line-height: 50px;
  width: 77px;
  border-radius: 30px;
  background-color: #ffffff;
  border: 0;
  font-size: 28px;
  position: relative;
  span{
    //display: none;
  }
  i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.iScrollVerticalScrollbar{
z-index: 10!important;
}
.text-danger{
  color: #e88192;
}
.btn {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  background-color: #e88192;
  width: 224px;
  height: 60px;
  border-radius: 30px;
  line-height: 60px;
  display: block;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease;
  border: 0;

  &:hover, &:focus {
    background-color: #81b9f9;
    color: #fff;
  }

  &.btn-max-default {
    width: 263px;
  }
  &.btn-max-st1 {
    width: 263px;
    background-color: #fcf2f4;
    color: #e88192;
    &:hover, &:focus {
      background-color: #e88192;
      color: #fff;
    }
  }
  &.btn-max-st2 {
    width: 263px;
    background-color: #81b9f9;
    &:hover, &:focus {
      background-color: #e88192;
    }
  }
  &.btn-min-default {
    height: 50px;
    line-height: 50px;
  }

  &.btn-min-st1 {
    height: 50px;
    line-height: 50px;
    background-color: #81b9f9;

    &:hover, &:focus {
      background-color: #e88192;
    }
  }
}

.body_inst {
  position: fixed;
  left: 38px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  a {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 1px;
    color: #e88192;
    width: 24px;
    display: block;
    height: 159px;
    transition: color .3s ease;

    i {
      position: absolute;
      bottom: 0;
      font-size: 24px;

      &:before {
        transition: color .3s ease;
      }
    }

    span {
      transform: rotate(-90deg);
      top: 53px;
      left: -50px;
      position: absolute;
    }

    &:hover {
      color: #81b9f9;

      i:before {
        color: #81b9f9;
      }
    }
  }
}

.body_call-back {
  button {
    padding-left: 35px;
    background-color: transparent;
    border: 0;
    transform: rotate(-90deg);
    color: #e88192;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 1px;
    transition: color .3s ease;

    i {
      font-size: 24px;
      transform: rotate(90deg);
      position: absolute;
      left: 0px;
      top: -1px;

      &:before {
        transition: color .3s ease;
      }
    }

    &:hover {
      color: #81b9f9;

      i:before {
        color: #81b9f9;
      }
    }
  }

  position: fixed;
  //right: 0;
  right: 49px;
  top: 50%;
  z-index: 10;
  //transform: translateX(calc(50% - 49px));
  transform: translateX(50%);
}
.mh_max-content{
  max-height: -moz-max-content!important;
  max-height: -webkit-max-content!important;
  max-height: -o-max-content!important;
  max-height: -ms-max-content!important;
  max-height: max-content!important;
}
#language {
  position: relative;

  .dropdown-menu {
    text-transform: uppercase;
    padding: 7px 0;
    width: 70px;
    border: 1px solid #333333;
    border-radius: 0;
    min-width: auto;
    box-shadow: none;

    li {
      padding-left: 0;

      &:after {
        display: none;
      }
    }

    a {
      width: 100%;
      height: 35px;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #333333;
      line-height: 35px;
      padding: 0;
      padding-left: 14px;

      &:hover {
        background-color: #fcf2f4;
      }
    }
  }
}

.btn-language {
  background-color: transparent;
  position: relative;
  text-align: right;
  padding-right: 19px;
  width: 70px;
  border: 0;
  border-left: 2px solid #e6e6e6;
  font-size: 18px;
  i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
  }
}
.modal-content{
  border-radius: 0;
}
.header {
  padding: 20px 0;
  &.fixed{
    position: fixed;
    top: 0;
    z-index: 20;
    background: #fff;
    width: 100%;
    left: 0;
    webkit-box-shadow: 0px 4px 5px -5px rgba(113, 113, 113, 0.55);
    box-shadow: 0px 4px 5px -5px rgba(113, 113, 113, 0.55);
    .col-lg-2{
      display: none;
    }
    .col-lg-10{
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      .header-menu{
        width: 100%;
        ul{
          margin-bottom: 0;
        }
      }
      .header-top{
        &-logo{
          display: none;
        }
        padding: 0;
        &-info{
          display: none;
        }
        &-navigation{
          margin-left: 30px;
          .search,#language{
            display: none;
          }
          a{
            margin-right: 0 ;
            margin-left: 30px;
          }
        }
      }
    }
  }
  .container{
    position: relative;
  }
  &-top {
    padding-top: 4px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &-logo{
      width: 70px;
    }
    &-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    &-tel {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333;
      margin-right: 30px;
    }

    &-navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      a {
        display: block;
        color: #333;
        font-size: 24px;
        transition: .3s ease;
        height: 24px;
        margin-right: 30px;
        position: relative;

        &.active {
          color: #e88192;
        }

        span {
          width: 15px;
          height: 15px;
          background-color: #e88192;
          position: absolute;
          top: 0;
          right: -5px;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 16px;
          border-radius: 50%;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
        }

        &:hover {
          color: #e88192;
        }
      }

      .search {
        margin-right: 30px;
        max-width: 234px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        input {
          margin-right: 10px;
          //max-width: 200px;
          width: 200px;
          padding: 10px 0;
        }

        button {
          font-size: 24px;
          background-color: transparent;
          border: 0;
          padding: 0;
          height: 24px;
          transition: .3s ease;

          &:hover {
            color: #e88192;
          }
        }
      }
    }
  }

  &-menu {
    &-list {
      position: relative;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      li {

        padding: 0 10px;

        &:after {
          display: none;
        }

        i {

          transition: color .3s ease;
          font-size: 24px;
          cursor: pointer;

          &:hover {
            color: #e88192;
          }
        }

        a {
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 1px;
          color: #333333;
          text-transform: uppercase;
          transition: color .3s ease;

          &:hover {
            color: #e88192;
          }
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;

          .header-menu-under {
            left: inherit;
            right: 0px;
            padding: 52px 0px 10px;
            width: 160px;
          }
        }
      }
    }

    &-under {
      display: none;
      width: 300px;
      position: absolute;
      padding: 52px 0px 30px;
      z-index: 10;
      left: -20px;
      background-color: #fff;

      li {
        //height: 35px;
        //padding: 0;
        padding: 9px 0;
        transition: background-color .3s ease;

        a {
          width: 100%;
          padding: 0 30px;
          //line-height: 35px;
          display: block;
          text-transform: none;
          font-weight: normal;
          letter-spacing: 0;
          &:hover {
            color: #333333;
          }
        }

        &:hover {
          background-color: #fcf2f4;
        }
      }
    }
  }
}

.slider-home {
  margin-bottom: 60px;

  &-slide {
    margin-bottom: -6px;

    .item {
      position: relative;
      height: 500px;
      background-position: center;

      .container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        z-index: 1;
        height: 100%;
      }

      &-block {
        height: 100%;
        width: 458px;
        position: relative;

        a {
          position: absolute;
          bottom: 100px;
          left: 50%;
          transform: translateX(-50%);
          max-width: 428px;
          min-width: 224px;
          padding: 0 40px;
          line-height: 60px;
          z-index: 5;
          width: auto;
        }

        &-bg {
          height: 500px;
          width: 458px;
          filter: blur(15px);
          background-position-x: -290px;
          position: absolute;
          top: 0;
          left: 0;
        }

        &-content {
          position: absolute;
          width: 100%;
          z-index: 5;
          bottom: 220px;
          text-align: center;
          padding: 0 15px;
        }

        &-txt1 {
          font-size: 90px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #e88192;
          margin-bottom: 30px;
        }

        &-txt2 {
          font-size: 35px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #333333;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        &-txt3 {
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #333333;
          margin-bottom: 0;
        }

        &:after {
          background-color: rgba(255, 255, 255, 0.5);
          width: 100%;
          height: 100%;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  &-dots {
    .container {
      position: relative;

      .slick-dots {
        position: absolute;
        margin-bottom: 0;
        bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 458px;

        li {
          padding-left: 0;
          margin: 0 7.5px;

          &.slick-active {
            button:before {
              background-color: #fff;
            }
          }

          button {
            font-size: 0;
            border: 0;
            padding: 0;
            width: 30px;
            height: 20px;
            position: relative;
            background-color: transparent;

            &:before {
              content: '';
              width: 100%;
              height: 2px;
              background-color: #333333;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transition: background-color .3s ease;
            }

            &:hover:before {
              background-color: #fff;
            }
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.baner-plus {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-bottom: 60px;
  .slick-arrow{
    background-color: #fff;
    width: 20px;
    height: 45px;
    cursor: pointer;
    transition: background-color .3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    border: 0;
    z-index: 10;
    font-family: 'icomoon' !important;
    &:after{
      content: "\e903";
      font-size: 9px;
      position: absolute;
      top: 50%;
      transition: color .3s ease;
    }
    &.slick-prev{
      left: -20px;
      &:after{
        left: 45%;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
    &.slick-next{
      right: -20px;
      &:after{
        left: 55%;
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
  }
  li {
    position: relative;
    height: 60px;
    padding: 0 0 0 98px;
    width: 292px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 66px;
    letter-spacing: normal;
    color: #333333;

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 22px;

      &.icon-award {
        font-size: 60px;
      }

      &.icon-towel {
        font-size: 55px;
      }

      &.icon-wallet {
        font-size: 60px;
      }

      &.icon-package {
        font-size: 60px;
      }
    }

    &:after {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 60px;
      width: 1px;
      background-color: #e6e6e6;
    }

    &:first-child:before {
      display: none;
    }
  }
}

.banner_category {
  margin-bottom: 30px;
  .slick-arrow{
    background-color: #fff;
    width: 20px;
    height: 45px;
    cursor: pointer;
    transition: background-color .3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    border: 0;
    z-index: 10;
    font-family: 'icomoon' !important;
    &:after{
      content: "\e903";
      font-size: 9px;
      position: absolute;
      top: 50%;
      transition: color .3s ease;
    }
    &.slick-prev{
      left: 15px;
      &:after{
          left: 45%;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
    &.slick-next{
      right: 13px;
      &:after{
        left: 55%;
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
  }
  &-content {
    position: relative;
    background-blend-mode: luminosity;
    background-size: cover;
    transition: background-color .3s ease;

    img {
      max-width: 100%;
      opacity: 0;
    }

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background-image: linear-gradient(238deg, #fcf2f4, #f5899c);
      left: 0;
      top: 0;
      position: absolute;
      z-index: 2;
      transition: opacity .3s ease;
    }

    &:hover {
      &:after {
        opacity: 0;
      }
    }
  }

  &-text {
    z-index: 3;
    padding: 30px 10px 0 30px;
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: 0;
    max-width: 260px;
    height: 108px;
    width: 100%;
  }

  &-name {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 1px;
    color: #333333;
    margin-bottom: 10px;
    text-transform: uppercase ;
  }
}

.new_products {
  .slick-arrow{
    background-color: #fff;
    width: 20px;
    height: 45px;
    cursor: pointer;
    transition: background-color .3s ease;
    position: absolute;
    top: 109px;
    font-size: 0;
    border: 0;
    z-index: 10;
    font-family: 'icomoon' !important;
    &:after{
      content: "\e903";
      font-size: 9px;
      position: absolute;
      top: 50%;
      transition: color .3s ease;
    }
    &.slick-prev{
      left: 15px;
      &:after{
        left: 45%;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
    &.slick-next{
      right: 13px;
      &:after{
        left: 55%;
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
  }
  .btn {
    margin: 30px auto 90px;
  }

  .product-layout:nth-child(1) .product-thumb, .product-layout:nth-child(6n) .product-thumb {
    width: 555px;
    margin: 0 15px 30px;

    .img-min,.img-min_hover {
      display: none!important;
    }

    .img-max,.img-max_hover {
      display: block!important;
    }
  }

  &-name {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    margin: 60px 0;
    position: relative;
    text-transform: uppercase;

    &:after {
      content: '';
      width: 30px;
      height: 2px;
      background-color: #e88192;
      position: absolute;
      left: 50%;
      bottom: -16px;
      transform: translateX(-50%);
    }
  }
}

.product-layout {
  float: left;

  .img-max,.img-max_hover {
    display: none;
  }
  .img-max,.img-min,.img-max_hover,.img-min_hover{
    transition: opacity 0s ease;
  }
  .img-max_hover,.img-min_hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .product-thumb {
    position: relative;
    width: 262.5px;
    margin: 0 15px 30px;

    .image {
      position: relative;
      margin-bottom: 15px;
      overflow: hidden;
      height: 263px;
      a{
        display: block;
      }
      .btn-danger{
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: #fff;
        width: 20px;
        height: 20px;
        display: block;
        .icon-close{
          font-size: 10px;
          color:#333;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
      img {
        max-width: 100%;
        width: 100%;
      }

      &-label {
        position: absolute;
        left: 0;
        top: 0;

        span {
          width: 45px;
          height: 45px;
          background-color: #ffffff;
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #e88192;
          line-height: 45px;
          text-align: center;
          display: block;
          float: left;
        }
      }

      .button-group {
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: -50px;
        transform: translateY(0);
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;

        button {
          &.btn-wishlist {
            margin: 0 15px;
            padding: 0;
            background: transparent;
            border: 0;
            height: 22px;

            i {
              font-size: 22px;
              transition: color .3s ease;
            }

            &:hover {
              i {
                color: #e88192;
              }
            }
          }

          &.btn-cart {
            text-transform: uppercase;
            padding: 0;
            padding-left: 30px;
            background: transparent;
            border: 0;
            margin: 0 15px;
            position: relative;
            white-space: nowrap;
            &:after {
              content: '';
              position: absolute;
              left: -15px;
              width: 1px;
              background-color: #cccccc;
              height: 30px;
              top: 50%;
              transform: translateY(-50%);
            }

            i {
              font-size: 22px;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-53%);
              transition: color .3s ease;
            }

            span {
              font-size: 16px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 1;
              letter-spacing: 1px;
              text-align: center;
              color: #333333;
              transition: color .3s ease;
            }

            &:hover {
              span, i {
                color: #e88192;
              }
            }
          }
        }
      }

      &:hover {
        .img-max,.img-min{
          opacity: 0;
        }
        .img-max_hover,.img-min_hover{
          opacity: 1;
        }
        .button-group {
          transform: translateY(-50px);
        }
      }
    }

    .caption {
      text-align: center;

      &-name {
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #333333;
        }
      }

      .price {
        margin-bottom: 0;

        .price-new {
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #e88192;
        }

        .price-old {
          margin-left: 15px;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #999999;
          text-decoration: line-through;
        }
      }
    }
  }
}

.wrapper_special {
  background-color: #fcf2f4;
  padding: 30px 0 0px;
  margin-bottom: 0px;
  &.one_block{
    padding: 30px 0px;
    margin-bottom: 30px;
  }
  &-btn {
    margin: 30px auto 60px;
  }

  &-title {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    margin: 60px 0;
    position: relative;
    text-transform: uppercase;

    &:after {
      content: '';
      width: 30px;
      height: 2px;
      background-color: #e88192;
      position: absolute;
      left: 50%;
      bottom: -16px;
      transform: translateX(-50%);
    }
  }

  &-slider {
    position: relative;
    overflow: hidden;

    .special-prev {
      background-color: #fff;
      width: 20px;
      height: 45px;
      position: absolute;
      top: 109px;
      left: 0;
      z-index: 5;
      cursor: pointer;
      transition: background-color .3s ease;

      i {
        position: absolute;
        font-size: 9px;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%) rotate(90deg);
        transition: color .3s ease;
      }

      &:hover {
        background-color: #e88192;

        i {
          color: #fff;
        }
      }
    }

    .special-next {
      background-color: #fff;
      width: 20px;
      height: 45px;
      position: absolute;
      top: 109px;
      right: 0;
      z-index: 5;
      cursor: pointer;
      transition: background-color .3s ease;

      i {
        position: absolute;
        font-size: 9px;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%) rotate(-90deg);
        transition: color .3s ease;
      }

      &:hover {
        background-color: #e88192;

        i {
          color: #fff;
        }
      }
    }
  }

  &-slick {
    margin: 0 -15px;
  }
}

.baner_special {
  background-color: #fcf2f4;
  padding: 0px 0 90px;
  margin-bottom: 30px;
  &.one_block{
    padding-top: 90px;
  }
  .baner_special-content {
    width: 100%;
    position: relative;
  }

  .baner_special-box {
    position: absolute;
    left: 50%;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    //width: 420px;
    //height: 178px;
    //background-color: rgba(255, 255, 255, 0.5);
    .text-1 {
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #333333;

      span {
        color: #f7889b;
      }

      margin-bottom: 10px;
    }

    .text-2 {
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #333333;
    }
  }
}

.home_about {


  &-content {
    //max-height: 140px;
    overflow: hidden;
    max-width: 750px;
    margin: auto;
    width: calc(100% - 30px);
    position: relative;
    &.open::before{
      display: none;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 4em;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(100%, #fff));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
      background: linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
    }
  }

  &-open {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #e88192;
    margin: 60px auto 120px;
    width: max-content;
    cursor: pointer;
    transition: color .3s ease;
    position: relative;
    &:hover {
      color: #81b9f9;
    }
  }
}

.html_text {
  overflow: hidden;
  hr {
    display: none;
  }

  h1 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    margin: 60px 0;
    position: relative;
    text-transform: uppercase;

    &:after {
      content: '';
      width: 30px;
      height: 2px;
      background-color: #e88192;
      position: absolute;
      left: 50%;
      bottom: -16px;
      transform: translateX(-50%);
    }
  }
}
.common-home .artblock,.news-article .artblock{
  margin: 0 15px;
}
.news-article {
  .home-news{
    margin-bottom: 60px;
  }
  .home-news-title{
    margin-top: 0;
  }
}


.home-news {
  &-btn {
    margin: 60px auto 120px;
  }

  &-title {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    margin: 60px 0;
    position: relative;
    text-transform: uppercase;

    &:after {
      content: '';
      width: 30px;
      height: 2px;
      background-color: #e88192;
      position: absolute;
      left: 50%;
      bottom: -16px;
      transform: translateX(-50%);
    }
  }

  &-slider {
    position: relative;
    overflow: hidden;

    .news-prev {
      background-color: #fff;
      width: 20px;
      height: 45px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      z-index: 5;
      cursor: pointer;
      transition: background-color .3s ease;

      i {
        position: absolute;
        font-size: 9px;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%) rotate(90deg);
        transition: color .3s ease;
      }

      &:hover {
        background-color: #e88192;

        i {
          color: #fff;
        }
      }
    }

    .news-next {
      background-color: #fff;
      width: 20px;
      height: 45px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 5;
      cursor: pointer;
      transition: background-color .3s ease;

      i {
        position: absolute;
        font-size: 9px;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%) rotate(-90deg);
        transition: color .3s ease;
      }

      &:hover {
        background-color: #e88192;

        i {
          color: #fff;
        }
      }
    }
  }

  &-slick {
    margin: 0 -15px;
  }
}

.artblock {
  //margin: 0 15px 30px;
  position: relative;
  overflow: hidden;

  img {
    max-width: 100%;
  }

  &-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 292px;
    height: 182px;
    background-color: #fff;
    padding: 30px 15px 0 30px;

    .name {
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #333333;
      height: 48px;
      overflow: hidden;
      margin-bottom: 30px;
    }

    .article-meta {
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #999999;
      position: relative;

      &:after {
        content: '';
        width: 19px;
        position: absolute;
        left: -29px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #b3b3b3;
        height: 1px;
      }
    }
  }
}

.footer {
  background-color: #fcf2f4;
  padding: 55px 0;

  &-address {
    line-height: 30px;
  }

  &-tel {
    a {
      font-weight: bold;
      color: #333333;
      line-height: 30px;
      font-size: 15px
    }
  }

  &-mail {
    a {
      line-height: 30px;
      font-size: 15px
    }
  }

  h5 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 25px;
    i{
      display: none;
    }
  }

  ul {
    margin-bottom: 0;
    li {
      padding-left: 0;
      &:after {
        display: none;
      }

      a {
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: normal;
        color: #333333;
        transition: color .3s ease;

        &:hover {
          color: #e88192;
        }
      }
    }
  }
}

.copyright {
  background-color: #fff;
  padding: 30px 0;

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-text {
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333;
    }

    &-img {
      width: 159px;
      height: 20px;
      background-image: url(../image/copyright.svg);
    }
  }
}

.instagram_wrapper {
  margin-bottom: 30px;

  &-title {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    margin: 60px 0;
    position: relative;
    text-transform: uppercase;
    &:after {
      content: '';
      width: 30px;
      height: 2px;
      background-color: #e88192;
      position: absolute;
      left: 50%;
      bottom: -16px;
      transform: translateX(-50%);
    }
  }
  .slick-arrow{
    background-color: #fff;
    width: 20px;
    height: 45px;
    cursor: pointer;
    transition: background-color .3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    border: 0;
    z-index: 10;
    font-family: 'icomoon' !important;
    &:after{
      content: "\e903";
      font-size: 9px;
      position: absolute;
      top: 50%;
      transition: color .3s ease;
    }
    &.slick-prev{
      left: 0;
      &:after{
        left: 45%;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
    &.slick-next{
      right: 0;
      &:after{
        left: 55%;
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
  }
  .slick-slide {
    margin: 0 15px;
    opacity: .5;

    &.slick-active {
      opacity: 1;
    }
  }

  .slick-list {
    padding: 0 95px !important;
  }

  .item {
    &_content {
      img {
        max-width: 100%;
      }
    }
  }
}

.bnews-list {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  .box-artblock {
    max-width: 555px;
    margin: 0 15px 30px;
    width: 50%;

    &:first-child {
      display: none;
    }
  }
}

.artblock_first {
  padding-top: 60px;
  width: 100%;
  height: 470px!important;
  background-color: #fcf2f4;
  margin-bottom: 180px;

  .layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &-content {
      width: 100%;
      max-width: 555px;
      padding-top: 18px;
      margin-right: 30px;
    }

    &-img {
      position: relative;
      width: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 755px;
        //height: 500px;
      }
    }

    &-title {
      font-size: 35px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333;
      margin-top: 0;
      margin-bottom: 60px;
      position: relative;
      text-transform: uppercase;

      &:after {
        background-color: #e88192;
        content: '';
        width: 67px;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -8px;
      }
    }

    &-meta {
      color: #999999;
      margin-bottom: 10px;
    }

    &-name {
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #333333;
      margin-bottom: 15px;
    }

    &-description {
      margin-bottom: 30px;
    }

    &-btn a {

    }
  }
}

.breadcrumb-block {
  background-color: #fcf2f4;
  &.breadcrumb-account{
    background: #fff;
    margin-bottom: 50px;
    .breadcrumb{
      background: #fff!important;
      li a {
        font-size: 13px;
      }
    }
  }
  .breadcrumb {
    background-color: #fcf2f4;
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;

    li {
      font-family: 'icomoon';
      padding-left: 0;
      margin: 12px 24px 12px 0;
      position: relative;

      a {
        font-size: 15px;

        span {
          color: #333333;
          //font-size: 15px;
        }
      }

      span {
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        font-family: 'Calibri', sans-serif;
        color: #999999;
      }

      &:after {
        display: none;
      }

      &:before {
        content: "\e903";
        font-size: 6px;
        position: absolute;
        transform: rotate(-90deg);
        right: -16px;
        top: 9px;
        color: #333333;
        padding: 0;
      }
      &:last-child {
        margin-right: 0;
        &:before {
          display: none;
        }
      }
    }

    i {
      display: none;
    }
  }
}

.load {
  display: none !important;
}

.pagination {
  display: none;
}

.trigger {
  margin-bottom: 90px;
  margin-top: 30px;

  .ias_trigger {
    a {
      margin: auto;
    }
  }

  .info_trigger {
    text-align: center;

    p {
      margin-bottom: 14px;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #999999;
    }

    &-line {
      width: 262px;
      height: 2px;
      background-color: #e6e6e6;
      margin: 0 auto 30px;
      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 20%;
        height: 2px;
        background-color: #e88192;
      }
    }
  }
}

.article-page {
  padding-bottom: 100px;

  .article {
    &-top {
      margin-bottom: 180px;
      padding-top: 44px;
      background-color: #fcf2f4;
      height: 454px;

      &-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &-img {
        position: relative;
        max-width: 555px;
        width: 100%;
        margin-right: 15px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          max-width: 100%;
          padding: 0;
        }
      }

      &-info {
        max-width: 555px;
        width: 100%;
        margin-left: 15px;

        h1 {
          padding-top: 40px;
          margin-bottom: 60px;
          font-size: 35px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #333333;
          text-transform: uppercase;
          margin-top: 0;
          position: relative;

          &:after {
            content: '';
            bottom: -16px;
            position: absolute;
            left: 0;
            width: 67px;
            height: 2px;
            background-color: #e88192;
          }
        }

        .address {
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #999999;
          margin-bottom: 15px;
        }

        .description_mini {
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: normal;
          color: #333333;
        }
      }
    }

    &-container {
      p {
        margin-bottom: 0;
      }

      &-text {
        margin: 0 auto 15px;
        width: 100%;
        max-width: 750px;
      }

      h3 {
        margin: 30px auto 15px;

        width: 100%;
        max-width: 750px;
      }

      .blog-gallery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 -15px;
        flex-wrap: wrap;
        img {
          margin: 45px 15px 30px;
          max-width: 100%;
        }
      }
    }
  }
}

.catalog_preview {
  height: 454px;
  background-color: #fcf2f4;
  margin-bottom: 180px;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 44px;
  }

  &-content {
    width: 100%;
    max-width: 555px;
    padding-top: 92px;
    margin-right: 30px;

    h1 {
      font-size: 35px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333;
      margin-top: 0;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 53px;

      &:after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 67px;
        background-color: #e88192;
        height: 2px;
      }
    }
  }

  &-description {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
  }

  &-img {
    position: relative;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 755px;
      //height: 500px;
    }
  }
}
.wishlist_preview {
  height: 454px;
  background-color: #fcf2f4;
  margin-bottom: 180px;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 44px;
  }

  &-content {
    width: 100%;
    max-width: 555px;
    padding-top: 134px;
    margin-right: 30px;
    h1 {
      font-size: 35px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333;
      margin-top: 0;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 53px;

      &:after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 67px;
        background-color: #e88192;
        height: 2px;
      }
    }
  }
  &-img {
    position: relative;
    width: 100%;
    .block_img {
      position: absolute;
      top: 0;
      left: 0;
      width: 755px;
      height: 500px;
      background-image: url(../image/pic-wish.png);
      background-size: cover;
    }
  }
}
.products {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &>.row{
      margin: 0;
    }
  }

  .btn {
    margin: 30px auto 90px;
  }

  .product-layout:nth-child(5) .product-thumb, .product-layout:nth-child(15n) .product-thumb, .product-layout:nth-child(9n) .product-thumb {
    width: 555px;
    margin: 0 15px 30px;

    .img-min,.img-min_hover {
      display: none!important;
    }

    .img-max,.img-max_hover {
      display: block!important;
    }
  }
}

.prod_trigger {
  text-align: center;

  .prod_trigger-a a {
    margin: auto;
  }
}

.prod_trigger {
  margin-bottom: 90px;
  margin-top: 60px;

  .prod_trigger-a {
    a {
      margin: 0 auto;
    }
  }

  &-info {
    text-align: center;

    p {
      margin-bottom: 14px;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #999999;
    }
  }

  &-line {
    width: 262px;
    height: 2px;
    background-color: #e6e6e6;
    margin: 0 auto 30px;
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 20%;
      height: 2px;
      background-color: #e88192;
    }
  }
}

.catalog_sort {
  margin-bottom: 30px;
  &-btn{
    display: none;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #333333;
    height: 48px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    i{
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(0);
      right: 0;
      font-size: 9px;
      transition: all .3s ease;
    }
    &.active{
      i{
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;

    li {
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333;
      margin-right: 15px;
      padding-left: 0;

      a {
        font-size: 15px;
        font-weight: normal;
        color: #999999;

        &:hover {
          color: #81b9f9;
        }
      }

      &.active a {
        color: #e88192;
      }

      &:last-child {
        margin-right: 0;
      }

      &:after {
        display: none;
      }
    }
  }
}
.product-search{
  h1{
    margin: 60px 0;
    text-align: center;
  }
}
.category-page,.product-special,.product-search {
  h2 {
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 0;
  }
  .html_text{
    overflow: visible;
  }
}

.category {
  &_list {
    margin-bottom: 120px;

    ul {
      li {
        margin-bottom: 30px;
        position: relative;
        padding-left: 30px;

        > a {
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.11;
          letter-spacing: 1px;
          color: #333333;
          text-transform: uppercase;
        }

        &:after {
          display: none;
          padding-left: 0;
        }

        i {
          position: absolute;
          font-size: 9px;
          left: 0;
          top: 0;
          cursor: pointer;
          width: 20px;
          height: 19px;

          &:before {
            position: absolute;
            left: 0;
            top: 48%;
            transform: translateY(-50%);
            transition: all .3s ease;
          }
        }

        &.active {
          i:before {
            transform: translateY(-50%) rotate(180deg);
          }

          > ul {
            display: block;

          }
        }

        > ul {
          display: none;
          padding-top: 30px;

          li {
            margin-bottom: 15px;
            padding-left: 0;
            line-height: 1;

            a {
              text-transform: none;
              font-size: 15px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1;
              letter-spacing: normal;
              color: #333333;

              &:hover {
                color: #81b9f9;
              }

              span {
                color: #e88192;
              }

              &.active {
                color: #e88192;
              }
            }
          }
        }
      }
    }
  }

  &_filter {
    margin-bottom: 90px;

    &.mfilter-content {
      border: 0;
    }

    ul {
      li {
        .mfilter-tb-as-td {
          border: 0;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #333333;

          span {
            color: #e88192;
          }
        }

        .mfilter-tb-as-tr {
          margin-bottom: 15px;
          display: block;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .mfilter-options {
          padding: 0;
        }

        margin-bottom: 30px !important;

        &:after {
          display: none;
        }

        .mfilter-opts-container {
          border: 0;
          padding: 30px 0 0;
        }

        .mfilter-heading {
          background-color: transparent;
          border: 0;

          &.mfilter-collapsed {
            i {
              transform: translateY(-50%) rotate(0deg);
            }
          }

          &-content {
            padding: 0 0 0 30px;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.11;
            letter-spacing: 1px;
            color: #333333;
          }

          i {
            position: absolute;
            left: 0;
            font-size: 9px;
            top: 48%;
            transition: all .3s ease;
            transform: translateY(-50%) rotate(180deg);
          }
        }

        .mfilter-price-inputs {
          margin-bottom: 34px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          input {
            width: 124px;
            max-width: 124px;
          }
        }

        .mfilter-price-slider {

        }
      }
    }
  }
}

.contact_preview {
  height: 454px!important;
  background-color: #fcf2f4;
  margin-bottom: 180px;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 44px;
  }

  &-content {
    width: 100%;
    max-width: 555px;
    padding-top: 12px;
    margin-right: 30px;

    h1 {
      margin-top: 0;
      font-size: 35px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 53px;

      &:after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 67px;
        background-color: #e88192;
        height: 2px;
      }
    }
  }

  &-info {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
  }

  &-img {
    position: relative;
    width: 100%;

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 755px;
      //height: 500px;
    }
    .block-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 755px;
      height: 500px;
      background-image: url(../image/pic-contacts.png);
    }
  }

  &-address {
    padding-left: 33px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin-bottom: 30px;
    position: relative;

    i {
      position: absolute;
      font-size: 22px;
      left: -2px;
      top: 0;
    }
  }

  &-tell {
    padding-left: 33px;
    margin-bottom: 30px;
    position: relative;

    p {
      margin-bottom: 20px;
      color: #999999;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;

      a {
        color: #333333;
        font-size: 15px;
      }
    }

    i {
      position: absolute;
      font-size: 19px;
      left: 0;
      top: -1px;
    }
  }

  &-mail {
    padding-left: 33px;
    position: relative;

    i {
      position: absolute;
      font-size: 22px;
      left: 0;
      top: -3px;
    }
  }
}

.contact_form {
  legend {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 60px;
    border: 0;

    &:after {
      background-color: #f5899c;
      width: 30px;
      height: 2px;
      content: '';
      position: absolute;
      bottom: -17px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
  }

  &-input {
    margin: 0 15px;
    width: 100%;
    position: relative;

    input {
      margin-bottom: 30px;
    }

    .text-danger {
      color: #e88192;
      position: absolute;
      bottom: 5px;
    }
  }

  &-textarea {
    position: relative;
    margin-bottom: 60px;

    .text-danger {
      color: #e88192;
      position: absolute;
      bottom: -25px;
    }
  }

  &-buttons {
    input {
      margin: 0 auto 90px;
    }
  }
}

.contact_map {
  width: 100%;
  height: 500px;
  margin-bottom: 90px;
}

.information-contact {
  .home_about-open{
    margin-bottom: 90px;
  }
  .html_text h2 {
    display: none;
  }
}

.about_preview {
  height: 454px;
  background-color: #fcf2f4;
  margin-bottom: 180px;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 44px;
  }

  &-content {
    width: 100%;
    max-width: 555px;
    padding-top: 52px;
    margin-right: 30px;

    h1 {
      margin-top: 0;
      font-size: 35px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 53px;

      &:after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 67px;
        background-color: #e88192;
        height: 2px;
      }
    }
  }

  &-info {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
  }

  &-img {
    position: relative;
    width: 100%;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 755px;
      //height: 500px;
    }
    .block-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 755px;
      height: 500px;
      background-image: url(../image/pic-about-1.png);
    }
  }
}

.about_advantages {
  &-title {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    position: relative;
    margin-bottom: 60px;
    text-transform: uppercase;

    &:after {
      content: '';
      position: absolute;
      bottom: -16px;
      height: 2px;
      width: 30px;
      background-color: #f5899c;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &-list {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      li {
        padding-left: 0;
        width: 263px;
        height: 230px;
        background-color: #fcf2f4;
        position: relative;
        padding-top: 150px;
        text-align: center;
        margin-bottom: 60px;
        p{
          margin-bottom:0 ;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #333333;
        }
        i{
          position: absolute;
          top: 60px;
          font-size: 60px;
          left: 50%;
          transform: translateX(-50%);
          &.icon-towel{
            font-size: 55px ;
          }
        }
        &:after {
          display: none;
        }
      }
    }
  }
}
.about_text_content{
  margin-bottom: 60px;
  p{
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
    &.bold{
      font-weight: bold;
    }
  }
  .block-img-1{
    width: 100%;
    height: 360px;
    background-image: url(../image/pic-about-2.png);
    margin-bottom: 30px;

    background-position: center;
    background-repeat: no-repeat;
  }
}
.page_product{
  .product_preview {
    height: 454px;
    background-color: #fcf2f4;
    margin-bottom: 180px;
    padding-top: 44px;
    .special_text{
      z-index: 10;
      position: absolute;
      left: 0;
      top: 0;
      .image-label{
        width: 45px;
        background-color: #ffffff;
        float: left;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #e88192;
        height: 45px;
        line-height: 45px;
        text-align: center;
        display: block;
      }
    }
    &-content {
      .top-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        .article{
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #333333;
        }
        .availability{
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: right;
          color: #e88192;
        }
      }
      h1 {
        margin-top: 0;
        font-size: 35px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #333333;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 15px;
      }
      .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .attribute{
        min-height: 56px;
        //min-height: 100px;
        ul{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin-bottom: 0;
          li{
            padding-left: 0;
            margin-right: 30px;
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #333333;
            span{
              color: #999999;
            }
            &:after{
              display: none;
            }
          }
        }
      }
      .options{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        &-num{
          min-width: 77px;
          position: relative;
          width: 77px;
          margin-left: 15px ;
          .num{
            position: absolute;
            top: 0;
            height: 100%;
            width: 26px;
            cursor: pointer;
            i{
              font-size: 9px;
            }
            &.plus{
              right: 0;
              i{
                position: absolute;
                top: 45%;
                left: 3px;
                transform: translateY(-50%) rotate(-90deg);

              }
            }
            &.minus{
              left: 0;
              i{
                position: absolute;
                top: 45%;
                right: 3px;
                transform: translateY(-50%) rotate(90deg);

              }
            }
          }
          input{
            background-color: transparent!important;
            text-align: center;
          }
        }
        &-select{
          width: 100%;
          .text-danger{
            position: absolute;
            bottom: -24px;
          }
          .has-error .jq-selectbox__select{
            border-bottom-color: #e88192;
          }
        }
      }
      .price{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 30px;
        span{
          margin-right: 15px;
          &.new{
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #e88192;
          }
          &.old{
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #999999;
            text-decoration: line-through;
          }
        }
      }
    }
    &-name{
      display: none;
    }
    &-img {
      img{
        cursor: pointer;
      }
      position: absolute;
      //width: 100%;
      ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        bottom: 15px;
        left: 0;
        li{
          border: 1px solid #fff;
          img{
            width: 60px;
            height: 60px;
          }
          &:first-child{
            display: none;
          }
          padding-left: 0;
          margin-left: 15px;
          &:after{
            display: none;
          }
        }
      }
    }
  }
  .product_tabs{
    &-name{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      li{
        padding-left: 0;
        margin: 0 15px 60px;
        &:after{
          display: none;
        }
        &.active a{
          color: #e88192;
        }
        a{
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.11;
          letter-spacing: 1px;
          color: #333333;
          &:hover{
            color: #e88192;
          }
        }
      }
    }
    &-content{
      margin-bottom: 90px;
      .tab-btn-mob{
        display: none;
        height: 48px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #333333;
        text-transform: uppercase;
        position: relative;
        i{
          font-size: 9px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) rotate(0deg);
          transition: all .3s ease;
        }
        &.active i{
          transform: translateY(-50%) rotate(180deg);
        }
      }
      .tab-description{
        &-title{
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #333333;
          margin-bottom: 15px;
        }
        &-content{
          ul{
            li{
              margin-bottom: 19px;
            }
          }
        }
      }
    }
  }
}
#button-cart{
  position: relative;
  padding-left: 81px;
  text-align: left;
  i{
    position: absolute;
    left: 46px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
  }
}
.modal_ac{
  .modal-dialog{
    width: 870px;
    margin: 30px auto;
  }
  .modal-header{
    border: 0;
  }
  .modal-title{
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    margin: 45px 0;
    position: relative;
    text-transform: uppercase;
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -16px;
      width: 30px;
      height: 2px;
      background-color: #f5899c;
    }
  }
  .modal-body{
    display: flex;
    padding: 0 45px;
    flex-direction: row;
    justify-content: space-between;
    .modal_end{
      width: 100%;
      display: flex;
      flex-direction: column;
      p{
        text-align: center;
        font-size: 18px;
        margin-bottom: 30px;
      }
      .buttons{
        margin-bottom: 30px;
        .btn{
          max-width: 260px;
          margin: auto;
        }
      }
    }
    .alert{
      position: absolute;
      top: -30px;
      padding: 0;
      margin: 0;
      width: calc(100% - 30px);
      color: #e88192;
      text-align: center;
      display: block;
    }
    .modal_help{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;
      position: relative;

      a{
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
      }
      label{
        margin-bottom: 0;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #333333;
        &:before {
          transform: translateY(-65%);
        }
        &:after {
          transform: translateY(-70%);
        }
      }
    }
    .btn{
      width: 100%;
    }
    .has-error{
      input{
        border-color: #e88192;
        box-shadow: none;
        &:focus{
          box-shadow: none;
        }
      }
    }
    input.has-error{
      border-color: #e88192;
      box-shadow: none;
      &:focus{
        box-shadow: none;
      }
    }
    .modal_social_log{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 -7px;
      a{
        display: block;
        margin: 0 7px;
        font-size: 14px;
        //font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 60px;
        letter-spacing: 1px;
        text-align: center;
        color: #e88192;
        height: 60px;
        border-radius: 30px;
        background-color: #fcf2f4;
        text-transform: uppercase;
        width: 100%;
        transition: all .3s ease;
        &:hover{
          background-color: #e88192;
          color: #fff;
        }
      }
    }
    .modal_login{
      width: 50%;
      position: relative;
      padding: 0 15px;
      margin-bottom: 60px;
      input{
        margin-bottom: 30px;
      }
      .btn{
        margin-bottom: 50px;
      }
      p{
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #333333;
      }
    }
    .modal_register{
      position: relative;
      width: 50%;
      padding: 0 15px;
      margin-bottom: 60px;
      input{
        margin-bottom: 30px;
      }
    }
  }
}

.account{
  &-menu{
    padding: 30px ;
    margin-bottom: 90px;
    background-color: #fcf2f4;
    ul{
      margin-bottom: 0;
      li{
        padding-left: 0;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
        &:after{
          display: none;
        }
        &.active{
          a{
            color: #e88192;
          }
        }
        a{
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 1px;
          color: #333333;
        }
      }
    }
  }
  &-simpleedit #simpleedit{
    padding: 0 30px ;
    label{
      display: none!important;
    }
    .col-sm-10{
      width: 100%;
      padding: 0;
    }
    .form-horizontal{
      margin: 0 -8px;
      .form-group{
        float: left;
        width: 50%;
        margin: 0 0 30px;
        padding: 0 8px;
      }
    }
    .buttons{
      .btn{
        margin: 30px auto 90px;
      }
    }
  }
  &-simpleedit{
    h1{
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #333333;
      position: relative;
      text-transform: uppercase;
      &:after{
        content: '';
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 2px;
        background-color: #f5899c;
      }
      margin: 0 0 60px;
    }
    .has-error .simplecheckout-rule-group {
      position: absolute;
      bottom: -26px;
    }
  }
  &-password{
    //padding: 0 30px ;
    h1{
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #333333;
      position: relative;
      text-transform: uppercase;
      &:after{
        content: '';
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 2px;
        background-color: #f5899c;
      }
      margin: 0 0 60px;
    }
    .col-sm-10{
      width: 100%;
      padding: 0;
    }
    .form-horizontal{
      margin: 0 -4px;
      .form-group{
        float: left;
        width: 50%;
        margin: 0 0 30px;
        padding: 0 8px;
      }
      .width-100{
        width: 100%;
      }
    }
    .buttons{
      .btn{
        margin: 30px auto 90px;
      }
    }
  }
}
.checkout-block{
  .checkout-cart  {
    &:last-child {
      border-bottom: 0;
    }
  }
}
.checkout-simplecheckout{
  &:last-child{
    border-bottom: 0 ;
  }
  .simplecheckout-left-column{
    padding: 0 30px 40px;
    input{
      margin-bottom: 30px;
    }
  }

  .block_bg{
    background-color: #fcf2f4;
    overflow: hidden;
  }
  #simplecheckout_customer ,#simplecheckout_shipping_address{
    label{
      display: none!important;
    }
    .form-group{
      margin: 0;
      .col-sm-9{
        width: 100%;
        padding: 0;
      }
    }
  }
  .simplecheckout-title{
    margin: 60px 0;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    position: relative;
    text-transform: uppercase;
    &:after{
      content: '';
      position: absolute;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 2px;
      background-color: #f5899c;
    }
  }
  .checkout-heading{
    background: transparent!important;
    border: 0;
    padding: 10px 0 30px!important;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    text-align: center;
    span{
      float: none;
      margin: auto;
    }
  }
}
.simplecheckout{
  margin-bottom: 90px;
  .simplecheckout-button-block.buttons{
    padding: 60px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .btn{
    width: 100%;
    max-width: 270px;
  }
}
.simplecheckout-block{
  .checkout-lists {
    max-height: 886px;
    overflow: hidden;
    position: relative;
  }
  .checkout-cart{
    padding: 15px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    &-image{
      max-width: 100px;
      min-width: 100px;
      width: 100%;
      height: 100px;
      margin-right: 30px;
      img{
        max-width: 100%;
      }
    }
    &-info{
      width: 100%;
      position: relative;
      .name{
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #333333;
        margin-bottom: 4px;
      }
      .options{
        min-height: 35px;
        ul{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin-bottom: 0;
          li{
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            padding-left: 0;
            margin-right: 15px;
            color: #333333;
            &:after{
              display: none;
            }
            span{
              color: #999999;
            }
          }
        }
      }
      .remove{
        position: absolute;
        top: 0px;
        right: 0;
        button{
          background-color: transparent;
          border: 0;
          font-size: 10px;
        }
      }
      .quantity{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        .price{
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #e88192;
          width: 33%;
          &.total{
            text-align: right;
          }
        }
        &-num{
          width: 77px;
          input{
            max-width: 77px;
            margin: auto;
            text-align: center;
            padding: 14px;
          }
          .num{
            position: absolute;
            z-index: 10;
            top: 0;
            height: 100%;
            width: 26px;
            cursor: pointer;
            button{
              width: 100%;
              height: 100%;
              border: 0;
              background: transparent;
            }
            i{
              font-size: 9px;
            }
            &.plus{
              right: 0;
              i{
                position: absolute;
                top: 45%;
                left: 3px;
                transform: translateY(-50%) rotate(-90deg);

              }
            }
            &.minus{
              left: 0;
              i{
                position: absolute;
                top: 45%;
                right: 3px;
                transform: translateY(-50%) rotate(90deg);

              }
            }
          }
        }
      }
    }
  }
  #total_sub_total,#total_shipping{
    display: none;
  }
  #total_total{
    border-top: 0;
    background-color: #fcf2f4;
    padding: 31px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .simplecheckout-cart-total-remove{
      display: none;
    }
    &:after{
      display: none;
    }
    span{
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #333333;
      &.simplecheckout-cart-total-value{
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #e88192;
      }
    }
  }
}
.page_404{
  background-image: url(../image/404.png);
  height: 500px;
  background-position: center;
  overflow: hidden;
  width: 100%;
  .container{
    height: 500px;
  }
  .item-block {
    height: 100%;
    width: 458px;
    position: relative;
    &-bg {
      background-image: url(../image/404.png);
      height: 500px;
      width: 458px;
      filter: blur(15px);
      background-position-x: -290px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-content {
      position: absolute;
      width: 100%;
      z-index: 5;
      top: 158px;
      text-align: center;
      padding: 0 15px;
      h1{
        font-size: 35px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #333333;
        margin: 0 0 20px;
        text-transform: uppercase;
        span{
          color: #e88192;
        }
      }
      .item-block-txt2{
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #333333;
        margin-bottom: 60px;
      }
    }
    a {
      margin: auto;
      width: 224px!important;
      padding: 0 40px;
      line-height: 60px;
      z-index: 5;
    }
    &:after {
      background-color: rgba(255, 255, 255, 0.5);
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.seo_text{
  margin-bottom: 60px;
}
.user_message_wrapp{
  position: fixed;
  bottom: 15px;
  width: 339px;
  box-shadow: 0 0 10px 0 rgba(232, 129, 146, 0.5);
  background-color: #ffffff;
  right: 15px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #333333;
  z-index: 100;

  &.alert{
    padding: 30px;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
  }
  button{
    position: absolute;
    right: 15px;
    top: 10px;
  }
}
.popups_block{
  position: fixed;
  bottom: 15px;
  width: 400px;
  box-shadow: 0 0 10px 0 rgba(232, 129, 146, 0.5);
  background-color: #ffffff;
  right: 15px;
  display: flex;
  flex-direction: row;
  z-index: 100;
  justify-content: flex-start;
  &.alert{
    padding: 0;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
  }
  button{
    position: absolute;
    right: 15px;
    top: 10px;
  }
  &-icon{
    padding: 30px 0;
    width: 60px;
    min-width: 60px;
    border-right: 1px solid #e6e6e6;
    position: relative;
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 24px;
    }
  }
  &-content{
    padding: 30px 15px 30px 30px;
    width: 100%;
    a{
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1px;
      text-align: center;
      &:hover{
        color: #81b9f9;
      }
    }
  }
  &-name{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #333333;
  }
}
.request_call{
  .modal-dialog {
    margin: 30px auto;
  }
  .error{
    color: #e88192;
    position: absolute;
    bottom: -30px;
  }
  .modal-content{
    width: 480px;
    height: 447px;
    background-color: #ffffff;
    padding: 60px;
    border-radius: 0;
    margin: auto;
    .close{
      position: absolute;
      top: 15px;
      right: 15px;
      color: #000;
      font-size: 15px;
      opacity: 1;
    }
    .modal-header{
      border: 0;
      text-align: center;
      padding: 0;
      .modal-title{
        text-align: center;
        margin-bottom: 60px;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 2px;
        text-align: center;
        color: #333333;
        position: relative;
        &:after{
          position: absolute;
          content: '';
          bottom: -16px;
          width: 30px;
          height: 2px;
          background-color:#f5899c;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .modal-body{

      padding: 0;
      .form-group{
        margin-bottom: 20px;
      }
    }
    .modal-footer{
      border: 0;
      padding: 40px 0 0;
      button{
        margin: auto;
      }
    }
  }
}
.table-hover>tbody>tr:hover {
  background-color: transparent!important;
}
.account-order{
  h1{
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    position: relative;
    text-transform: uppercase;
    margin: 0 0 60px;
    &:after {
      content: '';
      position: absolute;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 2px;
      background-color: #f5899c;
    }
  }
  .num-table{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e88192;
    margin-bottom: 10px;
    display: block;
  }

  .table-responsive{
    border: 0!important;
    margin-bottom: 40px;
    .table{
      border: 1px solid #e6e6e6;
      //margin-bottom: 60px;
      thead{
        background-color: #fcf2f4;
        tr td{
          padding: 13px 0px;
          color: #999999;
          border-color: #e6e6e6;
          text-align: center;
          border-bottom-color: transparent;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
        }
      }
      tbody{
        tr{
          &:last-child{
            td{
              padding: 13px 15px;
              border-bottom: 1px solid #e6e6e6;
              .total{
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: #e88192;
              }
              .txt{
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #333333;
              }
            }
          }
          td {
            padding: 13px;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #333333;
            border-color: #e6e6e6;
            &.status{
              font-size: 16px;
              text-transform: uppercase;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 1px;
              text-align: center;
              color: #81b9f9;
            }
        }
          &:last-child{
            background-color: #fcf2f4;
            &:hover{
              background-color: #fcf2f4!important;
            }
          }
        }
      }
    }
  }
}
.checkout-success h1{
  margin-top: 10px;
}
.has-error {
  .form-control {
    box-shadow: none;
    border-color: #e88192;
    &:focus{
      box-shadow: none;
      border-color: #e88192;
    }
  }
  .simplecheckout-rule-group{
    position: absolute;
    bottom: 6px;
    .simplecheckout-error-text{
      margin-top: 0;
      color: #e88192;
    }
  }
}
#simplecheckout_shipping_address{
  ul.dropdown-menu{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #333;
    right: 0;
    border-radius: 0;
    background: #FFF;
    li{
      min-height: 18px;
      padding: 12px 30px;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #333333;
      transition: background-color .3s ease;
      &:after{
        display: none;
      }
      a{
        padding: 0;
        line-height: normal;
        font-size: 15px;
      }
      &:hover{
        background-color: #fcf2f4;
        a{
          background: transparent;
        }
      }
    }
  }
}
.information-contact-success h1{
  margin-top: 60px ;
}
.seo_text{
  .container  {
    border-top: 1px solid #e6e6e6;
    padding-top: 90px;
  }
  .home_about-content {
    }
}
.products_related{
  padding: 90px 0 60px;
  background-color: #fcf2f4;
  margin-bottom: 90px;
  h2{
    text-align: center;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 0;
    &:after{
      content: '';
      bottom: -16px;
      height: 2px;
      width: 30px;
      background-color: #f5899c;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.watched_products{
  margin-bottom: 60px;
  h2{
    text-align: center;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 0;
    &:after{
      content: '';
      bottom: -16px;
      height: 2px;
      width: 30px;
      background-color: #f5899c;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &-slider {
    position: relative;
    overflow: hidden;

    .special-prev {
      background-color: #fff;
      width: 20px;
      height: 45px;
      position: absolute;
      top: 109px;
      left: 0;
      z-index: 5;
      cursor: pointer;
      transition: background-color .3s ease;

      i {
        position: absolute;
        font-size: 9px;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%) rotate(90deg);
        transition: color .3s ease;
      }

      &:hover {
        background-color: #e88192;

        i {
          color: #fff;
        }
      }
    }

    .special-next {
      background-color: #fff;
      width: 20px;
      height: 45px;
      position: absolute;
      top: 109px;
      right: 0;
      z-index: 5;
      cursor: pointer;
      transition: background-color .3s ease;

      i {
        position: absolute;
        font-size: 9px;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%) rotate(-90deg);
        transition: color .3s ease;
      }

      &:hover {
        background-color: #e88192;

        i {
          color: #fff;
        }
      }
    }
  }
  &-slick {
    margin: 0 -15px;
  }
}
.btn-right_bar{
  font-size: 25px;
}
.btn-left_bar{
  font-size: 20px;
}
.right_bar{
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  transition: left .3s ease;
  &.active{
    left: 0;
  }
  &-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    padding: 0 15px;
    text-transform: uppercase;
  }
  &-close{
    i{
      font-size: 20px;
    }
  }
  &-content{
    padding: 30px 15px 0;
    ul{
      li{
        padding-left: 0;
        margin-bottom: 30px;
        position: relative;
        &:after{
          display: none;
        }
        a{
          color: #333333;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1px;
        }
        &.active{
          i:before{
            transform: translateY(-50%) rotate(180deg);
          }
        }
        i{
          position: absolute;
          font-size: 9px;
          width: 20px;
          right: 0;
          top: 0px;
          transform: rotate(0);
          height: 23px;
          &:before{
            transition: all .3s ease;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotate(0deg);
          }
        }
        .lvl_down{
          padding-top: 30px;
          display: none;
          li{
            margin-bottom: 15px;
            a{
              font-size: 15px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1;
              letter-spacing: normal;
              color: #333333;
              text-transform: none;
            }
          }
        }
      }
    }
  }
}
.left_bar{
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  transition: left .3s ease;
  &.active{
    left: 0;
  }
  &-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    padding: 0 15px;
    text-transform: uppercase;
  }
  &-navigation{
    #language{
      display: block!important;
      margin-right: 30px;
      margin-bottom: 0;
      .btn-language{
        border: 0;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #333333;
      }
    }
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  &-close{
    i{
      font-size: 20px;
    }
  }
  &-content{
    padding: 30px 15px 0;
    ul{
      li{
        padding-left: 0;
        margin-bottom: 30px;
        &:after{
          display: none;
        }
        a,span{
          color: #333333;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1px;
          position: relative;
          width: 100%;
          display: block;
          &.active{
            i{
              transform: translateY(-50%) rotate(180deg);
            }
          }
          i{
            position: absolute;
            font-size: 9px;
            right: 0;
            top: 50%;
            transition: all .3s ease;
            transform: translateY(-50%) rotate(0);
          }
        }
        .lvl_down{
          padding-top: 30px;
          display: none;
          li{
            margin-bottom: 15px;
            a{
              font-size: 15px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1;
              letter-spacing: normal;
              color: #333333;
              text-transform: none;
            }
          }
        }
      }
    }
  }
}
.mfilter-box{
  .box-heading{
    i{
      display: none;
    }
  }
}
.megafilter-btn{
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 15px;
  i{
    font-size: 23px;
  }
}
.login_form{
  .alert {
    position: absolute;
    top: -30px;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #e88192;
    text-align: center;
    display: block;
  }
  form{
    position: relative;
  }
  h1{
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    margin: 0 0 60px;
    position: relative;
    text-transform: uppercase;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -16px;
      width: 30px;
      height: 2px;
      background-color: #f5899c;
    }
  }
  .form-group{
    margin-bottom: 30px;
  }
  .btn{
    width: 100%;
    margin-bottom: 15px;
  }
  &_help{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    position: relative;
    label{
      margin-bottom: 0;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    a {
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
    }
  }
  p{
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }
  &_social_log{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 -7px 60px;
    a {
      display: block;
      margin: 0 7px;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 60px;
      letter-spacing: 1px;
      text-align: center;
      color: #e88192;
      height: 60px;
      border-radius: 30px;
      background-color: #fcf2f4;
      text-transform: uppercase;
      width: 100%;
      transition: all .3s ease;
    }
  }
}
.account-simpleregister{
  #column-left{
    display: none;
  }
  #content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .simple-content{
      width: 100%;
      max-width: 360px;
    }
  }
  .simpleregister{
    .col-sm-10{
      width: 100%;
    }
    h1{
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #333333;
      margin: 0 0 60px;
      position: relative;
      text-transform: uppercase;
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -16px;
        width: 30px;
        height: 2px;
        background-color: #f5899c;
      }
    }
    .form-group{
      margin-bottom: 30px;
    }
    .form-horizontal{
      margin-bottom: 30px;
    }
    .has-error .simplecheckout-rule-group{
      bottom: -25px;
    }
    .simpleregister-button-right{
      width: 100%;
    }
    .btn{
      width: 100%;
      margin-bottom: 60px;
    }
  }
}
.txtpage_preview {
  height: 454px;
  background-color: #fcf2f4;
  margin-bottom: 180px;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 44px;
  }

  &-content {
    width: 100%;
    max-width: 555px;
    padding-top: 92px;
    margin-right: 30px;

    h1 {
      font-size: 35px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333;
      margin-top: 0;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 53px;

      &:after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 67px;
        background-color: #e88192;
        height: 2px;
      }
    }
  }

  &-description {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
  }

  &-img {
    position: relative;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 755px;
      //height: 500px;
    }
  }
}
.account-order-info{
  h1,h2{
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
    position: relative;
    text-transform: uppercase;
    margin: 0 0 60px;
    &:after {
      content: '';
      position: absolute;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 2px;
      background-color: #f5899c;
    }
  }

}
.table-zakaz{
  border: 0!important;
  margin-bottom: 40px;
  .table{
    border: 1px solid #e6e6e6;
    //margin-bottom: 60px;
    thead{
      background-color: #fcf2f4;
      tr td{
        padding: 13px 0px;
        color: #999999;
        border-color: #e6e6e6;
        text-align: center;
        border-bottom-color: transparent;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }
    }
    tfoot tr{
      display: none;
      &:last-child{
        display: table-row;
      }
      td{
        padding: 13px 15px;
        border-bottom: 1px solid #e6e6e6;
        .total{
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: right;
          color: #e88192;
        }
        .txt{
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #333333;
        }
      }
        background-color: #fcf2f4;
    }
    tbody{
      tr{
        td {
          padding: 13px;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #333333;
          border-color: #e6e6e6;
          &.status{
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1px;
            text-align: center;
            color: #81b9f9;
          }
        }

      }
    }
  }
}