@media (max-width: 1440px) {
  body {
    padding: 0 50px; }

  .body_inst {
    left: 12px; }

  .body_call-back {
    right: 24px; } }
@media (max-width: 1270px) {
  .js_preview, .breadcrumb-block, .page_product .product_preview, .article-page .article-top {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto; }

  .banner_category {
    padding: 0 15px; }

  body {
    padding: 0; }

  .body_call-back {
    transform: translateX(0);
    top: inherit;
    bottom: 25px;
    right: 25px; }
    .body_call-back button {
      padding: 0;
      background-color: #fff;
      height: 50px;
      border: 0;
      transform: rotate(0deg);
      width: 50px; }
      .body_call-back button span {
        display: none; }
      .body_call-back button i {
        transform: rotate(0deg) translate(-50%, -50%);
        top: 50%;
        left: 50%; }

  .body_inst {
    display: none; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .product_preview .container {
    width: 960px; } }
@media (max-width: 1200px) {
  .page_product .product_preview-content .buttons {
    margin: 0 -5px; }
    .page_product .product_preview-content .buttons button {
      margin: 0 5px; }

  .fixed_menu {
    padding-top: 148px; }

  .article-page .article-top {
    height: 370px;
    margin-bottom: 120px; }

  .bnews-list .box-artblock {
    margin: 0; }

  .watched_products-slider .slick-arrow, .wrapper_special-slider .slick-arrow {
    top: 84px; }

  .page_product .product_preview-img {
    max-width: 555px; }
    .page_product .product_preview-img img {
      max-width: 100%; }
  .page_product .product_preview {
    margin-bottom: 100px;
    padding-top: 30px; }

  .about_advantages-list ul li {
    width: 220px;
    height: 220px;
    padding-top: 136px; }

  .product-layout .product-thumb {
    width: 212px; }
    .product-layout .product-thumb .image {
      height: 212px; }

  .products .product-layout:nth-child(5) .product-thumb, .products .product-layout:nth-child(15n) .product-thumb, .products .product-layout:nth-child(9n) .product-thumb {
    width: 455px; }

  .new_products .product-layout:nth-child(1) .product-thumb, .new_products .product-layout:nth-child(6n) .product-thumb {
    width: 455px;
    margin: 0 15px 30px; }

  .header-top-info {
    flex-direction: column; }

  .header-menu-list {
    margin-bottom: 0; }
    .header-menu-list li a {
      font-size: 14px; }

  .header-top {
    align-items: flex-start;
    padding-bottom: 30px; }

  .header-top-tel {
    margin-bottom: 10px; }

  .baner-plus li {
    padding: 0 0 0 75px;
    font-size: 16px; }
    .baner-plus li i {
      left: 16px; }
      .baner-plus li i.icon-package {
        font-size: 50px; }
      .baner-plus li i.icon-wallet {
        font-size: 50px; }
      .baner-plus li i.icon-towel {
        font-size: 45px; }
      .baner-plus li i.icon-award {
        font-size: 50px; }

  .artblock {
    margin: 0 0 30px !important;
    padding: 0 15px; }
    .artblock-content {
      left: 15px; } }
@media (max-width: 1024px) {
  .products .product-layout:nth-child(5) .product-thumb .img-max, .products .product-layout:nth-child(5) .product-thumb .img-max_hover, .products .product-layout:nth-child(15n) .product-thumb .img-max, .products .product-layout:nth-child(15n) .product-thumb .img-max_hover, .products .product-layout:nth-child(9n) .product-thumb .img-max, .products .product-layout:nth-child(9n) .product-thumb .img-max_hover,
  .new_products .product-layout:nth-child(1) .product-thumb .img-max, .new_products .product-layout:nth-child(1) .product-thumb .img-max_hover, .new_products .product-layout:nth-child(6n) .product-thumb .img-max, .new_products .product-layout:nth-child(6n) .product-thumb .img-max_hover {
    display: none !important; }

  .products .product-layout:nth-child(5) .product-thumb .img-min, .products .product-layout:nth-child(15n) .product-thumb .img-min, .products .product-layout:nth-child(9n) .product-thumb .img-min,
  .new_products .product-layout:nth-child(1) .product-thumb .img-min, .new_products .product-layout:nth-child(6n) .product-thumb .img-min {
    display: block !important; }

  .product-layout .product-thumb .image .button-group {
    transform: translateY(-50px); }

  .product-layout .img-max_hover, .product-layout .img-min_hover {
    display: none; }

  .product-layout .product-thumb .image:hover .img-max, .product-layout .product-thumb .image:hover .img-min {
    opacity: 1; }

  .simplecheckout-step {
    display: flex;
    flex-direction: column-reverse; }
    .simplecheckout-step .simplecheckout-right-column, .simplecheckout-step .simplecheckout-left-column {
      margin: 0; }
    .simplecheckout-step .simplecheckout-block {
      margin-bottom: 30px; }

  .simplecheckout .simplecheckout-right-column .simplecheckout-button-block.buttons {
    display: none; } }
@media (max-width: 991px) {
  .seo_text .container {
    border-top: 1px solid #e6e6e6;
    padding-top: 60px; }

  .product-search .catalog_sort, .product-search .catalog_sort {
    margin-bottom: 15px; }

  .tab-description-title {
    margin-top: 30px; }

  .page_product .product_tabs-name li {
    margin: 0 15px 30px; }

  .account-simpleregister #content .simple-content {
    max-width: 100%; }

  .fixed_menu {
    padding-top: 149px; }

  .account-menu {
    text-align: center;
    margin-bottom: 60px; }
    .account-menu ul li {
      margin-bottom: 15px; }

  .bnews-list .box-artblock {
    margin: auto;
    width: 100%; }

  .product_preview .container {
    max-width: 555px;
    width: 100%; }

  .page_product .product_preview {
    height: auto; }
    .page_product .product_preview-name {
      display: block;
      font-size: 35px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 60px;
      text-align: center; }
      .page_product .product_preview-name:after {
        content: '';
        position: absolute;
        width: 67px;
        background-color: #e88192;
        height: 2px;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%); }
    .page_product .product_preview-img {
      position: relative;
      margin: auto;
      margin-bottom: 15px; }
    .page_product .product_preview-content h1 {
      display: none; }
    .page_product .product_preview-content .top-info {
      margin-bottom: 30px; }
    .page_product .product_preview-content .buttons {
      margin-bottom: 30px; }

  .about_advantages-list ul {
    flex-wrap: wrap;
    justify-content: center; }
    .about_advantages-list ul li {
      width: 220px;
      height: 220px;
      padding-top: 136px;
      margin: 15px; }

  .mfilter-button-reset {
    width: 100% !important; }

  .mfilter-box {
    margin-bottom: 20px;
    overflow-y: auto;
    position: fixed;
    top: 0px;
    left: -100%;
    z-index: 30;
    background: #fff;
    width: 100%;
    height: 100%;
    transition: left .3s ease; }
    .mfilter-box .mfilter-content > ul, .mfilter-box .mfilter-button-bottom {
      max-width: 320px; }
    .mfilter-box.active {
      left: 0; }
    .mfilter-box .category_filter {
      padding: 0 15px;
      margin-bottom: 0; }
    .mfilter-box .box-heading {
      padding: 27px 0;
      margin-bottom: 30px;
      border-bottom: 1px solid #e6e6e6;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #333333;
      position: relative; }
      .mfilter-box .box-heading i {
        display: block;
        position: absolute;
        right: 15px;
        top: 49%;
        transform: translateY(-50%); }

  .megafilter-btn {
    display: flex; }

  .catalog_sort {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0; }
    .catalog_sort-btn {
      display: flex; }
    .catalog_sort ul {
      display: none; }
      .catalog_sort ul li {
        margin-bottom: 13px; }
        .catalog_sort ul li:last-child {
          margin-bottom: 30px; }
        .catalog_sort ul li:first-child {
          display: none; }

  .new_products .product-layout:nth-child(1) .product-thumb, .new_products .product-layout:nth-child(6n) .product-thumb {
    width: 212px;
    margin: 0 15px 30px; }

  .new_products .product-layout:nth-child(1) .product-thumb .img-min, .new_products .product-layout:nth-child(6n) .product-thumb .img-min {
    display: block; }

  .new_products .product-layout:nth-child(1) .product-thumb .img-max, .new_products .product-layout:nth-child(6n) .product-thumb .img-max {
    display: none; }

  .js_preview .container, .article-page .article-top .container {
    width: 735px; }

  .article-page .article-top {
    height: auto !important;
    padding-bottom: 30px;
    margin-bottom: 60px;
    padding-top: 0;
    text-align: center; }
    .article-page .article-top-content {
      padding-top: 30px;
      flex-direction: column-reverse; }
    .article-page .article-top-img {
      max-width: 100%;
      margin: 0; }
      .article-page .article-top-img img {
        position: relative;
        width: 100%; }
      .article-page .article-top-img .block_img {
        position: relative;
        width: 100%; }
    .article-page .article-top-info {
      max-width: 100%;
      margin: 0; }
    .article-page .article-top-content {
      max-width: 100%;
      margin-right: 0;
      padding-top: 0; }
      .article-page .article-top-content h1 {
        margin-bottom: 30px;
        text-align: center; }
        .article-page .article-top-content h1:after {
          left: 50%;
          transform: translateX(-50%); }

  .artblock_first {
    height: auto !important;
    padding-bottom: 30px;
    margin-bottom: 60px;
    padding-top: 0; }
    .artblock_first .layout {
      padding-top: 30px;
      flex-direction: column; }
    .artblock_first .layout-img img {
      position: relative;
      width: 100%; }
    .artblock_first .layout-img .block_img {
      position: relative;
      width: 100%; }
    .artblock_first .layout-btn {
      margin-bottom: 30px; }
    .artblock_first .layout-content {
      max-width: 100%;
      margin-right: 0;
      padding-top: 0; }
      .artblock_first .layout-content h1 {
        margin-bottom: 30px;
        text-align: center; }
        .artblock_first .layout-content h1:after {
          left: 50%;
          transform: translateX(-50%); }

  .wishlist_preview, .contact_preview, .catalog_preview, .about_preview, .txtpage_preview {
    height: auto !important;
    padding-bottom: 30px;
    margin-bottom: 60px; }
    .wishlist_preview-container, .contact_preview-container, .catalog_preview-container, .about_preview-container, .txtpage_preview-container {
      padding-top: 30px;
      flex-direction: column; }
    .wishlist_preview-img img, .contact_preview-img img, .catalog_preview-img img, .about_preview-img img, .txtpage_preview-img img {
      position: relative;
      width: 100%; }
    .wishlist_preview-img .block_img, .contact_preview-img .block_img, .catalog_preview-img .block_img, .about_preview-img .block_img, .txtpage_preview-img .block_img {
      position: relative;
      width: 100%; }
    .wishlist_preview-content, .contact_preview-content, .catalog_preview-content, .about_preview-content, .txtpage_preview-content {
      max-width: 100%;
      margin-right: 0;
      padding-top: 0; }
      .wishlist_preview-content h1, .contact_preview-content h1, .catalog_preview-content h1, .about_preview-content h1, .txtpage_preview-content h1 {
        margin-bottom: 30px;
        text-align: center; }
        .wishlist_preview-content h1:after, .contact_preview-content h1:after, .catalog_preview-content h1:after, .about_preview-content h1:after, .txtpage_preview-content h1:after {
          left: 50%;
          transform: translateX(-50%); }

  .contact_preview-info {
    margin-bottom: 30px; }

  .catalog_preview-description, .about_preview-info {
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333; }

  .contact_map {
    margin-bottom: 0; }

  .account-wishlist #content.container {
    width: 726px; }

  .new_products .container, .wrapper_special .container, .watched_products .container, .products_related .container {
    width: 726px; }

  .new_products .slick-arrow, .wrapper_special-slider .slick-arrow {
    top: 84px; }

  .home-news .container {
    width: 100%;
    margin: auto; }

  .common-home .artblock, .news-article .artblock {
    margin: 0 !important; }

  .header-top {
    padding-bottom: 20px; }

  .header.fixed .header-top-navigation {
    display: none; }

  .baner-plus {
    width: 500px;
    margin: 0 auto 60px; }

  .modal_ac .modal-body {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .modal_ac .modal-body .modal_login, .modal_ac .modal-body .modal_register {
      width: 100%; }
  .modal_ac .modal-dialog {
    width: 490px; }

  .contact_form-textarea .text-danger, .contact_form-input .text-danger {
    font-size: 12px; } }
@media (max-width: 767px) {
  .table-zakaz {
    width: 100%;
    overflow-y: hidden;
    min-height: .01%;
    overflow-x: auto; }
    .table-zakaz td {
      min-width: 100px; }

  .home-news .container {
    max-width: 555px; }

  .has-error .simplecheckout-rule-group {
    position: absolute;
    bottom: -30px;
    font-size: 12px;
    top: 100%;
    transform: translateY(4px); }

  .seo_text {
    padding: 0 15px; }
    .seo_text .container {
      padding-left: 0;
      padding-right: 0; }

  .home_about-content {
    width: 100%;
    text-align: center; }

  .image_mobal {
    display: block; }

  .image_desctop {
    display: none; }

  .fixed_menu {
    padding-top: 166px; }

  #popup-purchase-wrapper .popup-center {
    padding: 0 15px !important; }

  .article-page .article-container-text {
    text-align: center; }

  .article-page .article-container .blog-gallery {
    margin: 0; }

  .popups_block {
    width: 300px; }
    .popups_block-name {
      margin-bottom: 15px;
      font-size: 14px; }
    .popups_block a {
      font-size: 14px; }
    .popups_block-icon {
      width: 50px;
      min-width: 50px; }
    .popups_block-content {
      padding: 30px 15px;
      width: 100%; }

  .page_404 .item-block {
    height: 100%;
    width: 100%;
    max-width: 458px;
    margin: auto;
    position: relative; }
    .page_404 .item-block-bg {
      background-position: center; }

  .home_about {
    padding: 0; }

  .information-contact .home_about-content {
    width: 100%; }

  .new_products .product-layout:nth-child(1) .product-thumb, .new_products .product-layout:nth-child(6n) .product-thumb {
    width: 290px; }

  .new_products .container, .wrapper_special .container, .watched_products .container, .products_related .container {
    width: 640px; }

  .new_products .slick-arrow, .wrapper_special-slider .slick-arrow, .watched_products-slider .slick-arrow {
    top: 123px; }

  .account-wishlist #content.container {
    width: 100%; }
    .account-wishlist #content.container .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }

  .product-layout .product-thumb {
    width: 290px; }
    .product-layout .product-thumb .image {
      height: 290px; }

  .products .product-layout:nth-child(5) .product-thumb, .products .product-layout:nth-child(15n) .product-thumb, .products .product-layout:nth-child(9n) .product-thumb {
    width: 290px; }

  .products .product-layout:nth-child(5) .product-thumb .img-max, .products .product-layout:nth-child(15n) .product-thumb .img-max, .products .product-layout:nth-child(9n) .product-thumb .img-max {
    display: none; }

  .products .product-layout:nth-child(5) .product-thumb .img-min, .products .product-layout:nth-child(15n) .product-thumb .img-min, .products .product-layout:nth-child(9n) .product-thumb .img-min {
    display: block; }

  .products .row {
    justify-content: center; }

  .js_preview .container, .article-page .article-top .container {
    width: 100%; }

  .breadcrumb-block {
    padding-top: 15px; }
    .breadcrumb-block .breadcrumb {
      overflow-x: hidden; }

  .breadcrumb-block .breadcrumb li {
    margin: 0 24px 0 0; }
    .breadcrumb-block .breadcrumb li a {
      font-size: 13px; }

  .wishlist_preview-img .block_img {
    height: 450px; }

  .footer h5 {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #333333;
    border-top: 1px solid #e6e6e6;
    padding: 12px 0;
    margin-bottom: 0;
    position: relative; }
    .footer h5.active i {
      transform: translateY(-50%) rotate(180deg); }
    .footer h5 i {
      right: 0;
      font-size: 9px;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      display: block;
      transition: all .3s ease;
      position: absolute; }

  .footer {
    padding: 15px 0; }
    .footer .footer-contact {
      display: none; }
    .footer .list-unstyled {
      display: none;
      margin-bottom: 15px; }
    .footer .col-sm-3:first-child h5 {
      border: 0; }

  .header-top-navigation a {
    margin-right: 50px; }

  .instagram_wrapper .slick-list {
    padding: 0 62px !important; }

  .slider-home-dots .container .slick-dots {
    left: 50%;
    max-width: 458px;
    width: 100%;
    transform: translateX(-50%); }

  .header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px; }
    .header-left #logo {
      width: 100px; }

  .header {
    padding: 15px 0; }
    .header.fixed .header-top {
      margin: auto; }
    .header.fixed .header-top-navigation {
      display: flex;
      margin-left: 0 !important; }
      .header.fixed .header-top-navigation .search {
        display: flex !important;
        margin-right: 0; }
    .header-top {
      padding: 0;
      justify-content: center; }
      .header-top .account {
        margin-right: 0; }

  .header.fixed .col-lg-10 .header-top-navigation a {
    margin-left: 50px; }

  .header-top-navigation .search {
    position: relative;
    margin-right: 50px; }
    .header-top-navigation .search.active:after {
      display: none; }
    .header-top-navigation .search.active input {
      width: 207px; }
    .header-top-navigation .search:after {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      width: 28px;
      height: 33px;
      background-color: transparent;
      z-index: 2; }
    .header-top-navigation .search input {
      background-color: #fff;
      width: 0px;
      position: absolute;
      left: 35px;
      z-index: 1;
      transition: width .3s ease;
      top: 50%;
      transform: translateY(-50%); }

  .baner_special {
    display: none; } }
@media (max-width: 670px) {
  .new_products .container, .wrapper_special .container, .watched_products .container, .products_related .container {
    width: 320px; } }
@media (max-width: 599px) {
  .tab-box .row .col-md-4:first-child .tab-description-title {
    margin-top: 0; }

  .baner-plus li {
    padding: 0 0 0 58px;
    font-size: 18px;
    text-align: center; }

  .breadcrumb-block.breadcrumb-account {
    margin-bottom: 30px; }

  .account-simpleedit h1, .account-password h1, .account-password h1 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333; }

  .account-password .form-horizontal {
    margin: 0; }
    .account-password .form-horizontal .form-group {
      width: 100%;
      padding: 0; }

  .account-simpleedit #simpleedit {
    padding: 0; }
    .account-simpleedit #simpleedit .form-horizontal .form-group {
      width: 100%; }

  .simplecheckout {
    margin-bottom: 60px; }

  .simplecheckout .simplecheckout-button-block.buttons {
    display: flex;
    flex-direction: column; }
    .simplecheckout .simplecheckout-button-block.buttons .btn {
      margin-bottom: 15px;
      width: 100%;
      max-width: 100%; }

  .product_preview-content .btn-wishlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    text-align: center;
    display: -webkit-flex;
    font-size: 15px;
    letter-spacing: 0.9px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333; }
    .product_preview-content .btn-wishlist span {
      display: inline-block;
      line-height: 49px;
      font-style: normal;
      font-stretch: normal;
      width: max-content; }
    .product_preview-content .btn-wishlist i {
      position: relative;
      left: inherit;
      top: 0;
      margin-right: 10px;
      transform: translate(0%, 0%) !important;
      font-size: 26px; }

  #button-cart {
    text-align: center;
    padding-left: 0; }
    #button-cart i {
      position: relative;
      left: inherit;
      top: 6px;
      margin-right: 10px;
      transform: translateY(0%);
      font-size: 26px; }

  .page_product .product_tabs-content {
    margin-bottom: 30px; }

  .page_product .product_tabs-content .tab-btn-mob {
    display: flex; }

  .tab-content > .tab-pane {
    display: block;
    border-bottom: 1px solid #e6e6e6; }
    .tab-content > .tab-pane:last-child {
      border: 0; }
    .tab-content > .tab-pane .tab-box {
      display: none;
      padding: 15px 0 30px; }

  .page_product .product_tabs-name {
    display: none; }

  .page_product .product_preview {
    margin-bottom: 15px; }

  .watched_products {
    margin-bottom: 30px; }

  .products_related {
    padding: 60px 0 30px;
    margin-bottom: 60px; }

  .products_related h2, .watched_products h2 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.6px;
    text-align: center;
    color: #333333;
    margin-bottom: 30px; }
    .products_related h2:after, .watched_products h2:after {
      bottom: -6px; }

  .page_product .product_preview {
    height: auto; }
    .page_product .product_preview-name {
      display: block;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 30px;
      text-align: center; }
      .page_product .product_preview-name:after {
        content: '';
        position: absolute;
        width: 67px;
        background-color: #e88192;
        height: 2px;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%); }
    .page_product .product_preview-img {
      position: relative;
      margin: auto;
      margin-bottom: 15px;
      width: 260px; }
      .page_product .product_preview-img img {
        display: none; }
      .page_product .product_preview-img ul {
        width: 260px;
        bottom: auto;
        margin: auto;
        position: relative;
        display: block; }
        .page_product .product_preview-img ul .slick-arrow {
          background-color: #fff;
          width: 20px;
          height: 45px;
          cursor: pointer;
          transition: background-color .3s ease;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: 0;
          border: 0;
          z-index: 10;
          font-family: 'icomoon' !important; }
          .page_product .product_preview-img ul .slick-arrow:after {
            content: "\e903";
            font-size: 9px;
            position: absolute;
            top: 50%;
            transition: color .3s ease; }
          .page_product .product_preview-img ul .slick-arrow.slick-prev {
            left: 0px; }
            .page_product .product_preview-img ul .slick-arrow.slick-prev:after {
              left: 45%;
              transform: translate(-50%, -50%) rotate(90deg); }
          .page_product .product_preview-img ul .slick-arrow.slick-next {
            right: 0px; }
            .page_product .product_preview-img ul .slick-arrow.slick-next:after {
              left: 55%;
              transform: translate(-50%, -50%) rotate(-90deg); }
        .page_product .product_preview-img ul li {
          border: 0;
          margin-left: 0; }
          .page_product .product_preview-img ul li img {
            width: 100%;
            max-width: 100%;
            height: auto; }
          .page_product .product_preview-img ul li:first-child {
            display: block; }
        .page_product .product_preview-img ul img {
          display: block; }
    .page_product .product_preview-content h1 {
      display: none; }
    .page_product .product_preview-content .top-info {
      margin-bottom: 30px; }
    .page_product .product_preview-content .buttons {
      margin-bottom: 30px;
      flex-direction: column; }
      .page_product .product_preview-content .buttons button {
        margin-bottom: 15px;
        width: 100%; }
        .page_product .product_preview-content .buttons button:last-child {
          margin-bottom: 0; }

  .contact_form-inputs {
    flex-direction: column;
    margin: 0; }

  .catalog_preview-content h1 {
    font-size: 20px; }

  .txtpage_preview-content h1 {
    font-size: 20px; }

  .product-special h1, .product-search h1 {
    font-size: 20px; }

  .wishlist_preview-img .block_img {
    height: 350px; }

  .account-wishlist #content.container {
    width: 320px; }

  .new_products .container, .wrapper_special .container {
    width: 320px; }

  .product-layout .product-thumb {
    position: relative;
    width: 290px;
    margin: 0 15px 30px; }

  .new_products .product-layout:nth-child(1) .product-thumb, .new_products .product-layout:nth-child(6n) .product-thumb {
    width: 290px;
    margin: 0 15px 30px; } }
@media (max-width: 559px) {
  .user_message_wrapp {
    width: 290px; }

  .copyright {
    text-align: center; }

  .modal_ac .modal-dialog {
    width: 400px; }

  .modal_ac .modal-body .modal_social_log a {
    font-size: 10px;
    margin: 0 2px; }

  .modal_ac .modal-body {
    padding: 0 15px; }

  .body_call-back {
    right: 0; }
    .body_call-back button {
      height: 44px;
      width: 44px; }

  .copyright-content {
    flex-direction: column;
    justify-content: center; }
    .copyright-content-text {
      margin-bottom: 15px; }

  .baner-plus {
    width: 250px; }

  .banner_category {
    margin-bottom: 0; }

  .new_products .btn, .home_about-open, .home-news-btn {
    margin-bottom: 60px; }

  .wrapper_special {
    padding-top: 0; } }
@media (max-width: 490px) {
  .wishlist_preview, .contact_preview, .catalog_preview, .about_preview {
    margin-bottom: 15px; }

  .request_call .modal-content {
    width: 300px;
    padding: 60px 30px; }
    .request_call .modal-content .error {
      font-size: 13px; }

  .wishlist_preview-content h1 {
    font-size: 20px; }

  .wishlist_preview-img .block_img {
    height: 250px; }

  .home-news-slider .news-prev {
    top: 48%; }

  .simplecheckout-block .checkout-cart-image {
    max-width: 60px;
    min-width: 60px;
    width: 100%;
    position: absolute;
    margin-right: 0px; }

  .simplecheckout-block .checkout-cart-info .name {
    padding-left: 85px; }

  .simplecheckout-block .checkout-cart-info .options {
    padding-left: 85px;
    min-height: 45px; }

  .artblock-content {
    width: 190px;
    height: 105px;
    padding: 16px 0 0 15px; }
    .artblock-content .article-meta {
      margin-bottom: 6px;
      font-size: 13px; }
      .artblock-content .article-meta:after {
        display: none; }
    .artblock-content .name {
      font-size: 15px;
      height: 30px;
      margin-bottom: 6px;
      text-overflow: ellipsis;
      line-height: 1; }
    .artblock-content .blog-button a {
      font-size: 15px; }

  .instagram_wrapper {
    margin-bottom: 15px;
    padding: 0 15px; }

  #simplecheckout_shipping_address ul.dropdown-menu li {
    padding-left: 15px; }
    #simplecheckout_shipping_address ul.dropdown-menu li a {
      font-size: 12px; }

  .checkout-simplecheckout .simplecheckout-title {
    margin-top: 30px;
    letter-spacing: normal; }

  .checkout-simplecheckout .simplecheckout-left-column {
    padding: 0 15px 40px; }

  .new_products-name, .wrapper_special-title, .home-news-title, .html_text h1, .instagram_wrapper-title, h1.about_preview-title, h1.contact_preview-title, .article-page .article-top-content h1, .checkout-simplecheckout .simplecheckout-title {
    font-size: 20px;
    margin-bottom: 30px; }
    .new_products-name:after, .wrapper_special-title:after, .home-news-title:after, .html_text h1:after, .instagram_wrapper-title:after, h1.about_preview-title:after, h1.contact_preview-title:after, .article-page .article-top-content h1:after, .checkout-simplecheckout .simplecheckout-title:after {
      bottom: -6px; }

  .banner_category-text {
    height: 70px;
    width: 210px;
    padding: 15px 10px 0 30px; }

  .banner_category-name {
    font-size: 15px; }

  .slider-home-slide .item-block-content {
    bottom: 158px; }

  .slider-home-dots .container .slick-dots {
    bottom: 6px; }

  .slider-home-slide .item-block a {
    bottom: 78px; }

  .slider-home-slide .item-block-txt1 {
    font-size: 60px;
    margin-bottom: 15px; }

  .slider-home-slide .item-block-txt2 {
    font-size: 25px; }

  .slider-home-slide .item-block-txt3 {
    font-size: 15px; }

  .slider-home-slide .item {
    height: 356px; }

  .slider-home-slide .item-block-bg, .slider-home-slide .item-block {
    width: 100%; }

  .slider-home-slide .item .container {
    width: 100%;
    padding: 0; }

  .slider-home {
    padding: 0 15px; } }
@media (max-width: 430px) {
  #popup-purchase-wrapper .popup-center-info {
    flex-direction: column !important; }

  #popup-purchase-wrapper .right {
    text-align: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px; }

  #popup-purchase-wrapper .product-name {
    font-size: 18px !important;
    text-align: center; }

  .prod_trigger {
    margin-bottom: 60px; }

  .seo_text .container {
    padding-top: 60px; }

  .prod_trigger-line {
    width: 100%; }

  .prod_trigger .prod_trigger-a a {
    width: 100%; }

  .modal_ac .modal-dialog {
    width: 300px; }

  .modal_ac .modal-body {
    padding: 0 10px; }

  .modal_ac .modal-body .modal_help label, .modal_ac .modal-body .modal_help a {
    font-size: 14px; } }
@media (max-width: 375px) {
  .page_product .product_preview-content .options {
    flex-direction: column; }

  .page_product .product_preview-content .options-num {
    margin-left: 0;
    width: 100%; }

  .page_product .product_preview-content .options-select {
    margin-bottom: 15px; }

  .wishlist_preview-img .block_img {
    height: 172px; } }

/*# sourceMappingURL=media.css.map */
