@media (max-width: 1440px) {
  body {
    padding: 0 50px;
  }
  .body_inst {
    left: 12px;
  }
  .body_call-back {
    //transform: translateX(calc(50% - 24px));
    right: 24px;
  }
}

@media (max-width: 1270px) {

  .js_preview, .breadcrumb-block, .page_product .product_preview, .article-page .article-top {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
  }
  .banner_category {
    padding: 0 15px;
  }
  body {
    padding: 0;
  }
  .body_call-back {
    transform: translateX(0);
    top: inherit;
    bottom: 25px;
    right: 25px;

    button {
      padding: 0;
      background-color: #fff;
      height: 50px;
      border: 0;
      transform: rotate(0deg);
      width: 50px;

      span {
        display: none;
      }

      i {
        transform: rotate(0deg) translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
  }
  .body_inst {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .product_preview .container {
    width: 960px;
  }
}

@media (max-width: 1200px) {
  .page_product .product_preview-content .buttons {
    margin: 0 -5px;

    button {
      margin: 0 5px;
    }
  }
  .fixed_menu {
    padding-top: 148px;
  }
  .article-page .article-top {
    height: 370px;
    margin-bottom: 120px;
  }
  .bnews-list .box-artblock {
    margin: 0;
  }
  .watched_products-slider .slick-arrow, .wrapper_special-slider .slick-arrow {
    top: 84px;
  }
  .page_product {
    .product_preview-img {
      max-width: 555px;

      img {
        max-width: 100%;
      }
    }

    .product_preview {
      margin-bottom: 100px;
      padding-top: 30px;
    }
  }
  .about_advantages-list ul li {
    width: 220px;
    height: 220px;
    padding-top: 136px;
  }
  .product-layout {
    .product-thumb {
      width: 212px;

      .image {
        height: 212px;
      }
    }
  }
  .products .product-layout:nth-child(5) .product-thumb, .products .product-layout:nth-child(15n) .product-thumb, .products .product-layout:nth-child(9n) .product-thumb {
    width: 455px;
  }
  //.account-wishlist{
  //  #content.container{
  //    width: 878px;
  //  }
  //}
  //.new_products .container,.wrapper_special .container{
  //  width: 880px;
  //}
  .new_products .product-layout:nth-child(1) .product-thumb, .new_products .product-layout:nth-child(6n) .product-thumb {
    width: 455px;
    margin: 0 15px 30px;
  }
  .header-top-info {
    flex-direction: column;
  }
  .header-menu-list {
    margin-bottom: 0;

    li a {
      font-size: 14px;
    }
  }
  .header-top {
    align-items: flex-start;
    padding-bottom: 30px;
  }
  .header-top-tel {
    margin-bottom: 10px;
  }
  .baner-plus li {
    padding: 0 0 0 75px;
    font-size: 16px;

    i {
      left: 16px;

      &.icon-package {
        font-size: 50px;
      }

      &.icon-wallet {
        font-size: 50px;
      }

      &.icon-towel {
        font-size: 45px;
      }

      &.icon-award {
        font-size: 50px;
      }
    }

  }
  .artblock {
    margin: 0 0 30px !important;
    padding: 0 15px;

    &-content {
      left: 15px;
    }
  }
}

@media (max-width: 1024px) {
  .products .product-layout:nth-child(5) .product-thumb .img-max, .products .product-layout:nth-child(5) .product-thumb .img-max_hover, .products .product-layout:nth-child(15n) .product-thumb .img-max, .products .product-layout:nth-child(15n) .product-thumb .img-max_hover, .products .product-layout:nth-child(9n) .product-thumb .img-max, .products .product-layout:nth-child(9n) .product-thumb .img-max_hover,
  .new_products .product-layout:nth-child(1) .product-thumb .img-max, .new_products .product-layout:nth-child(1) .product-thumb .img-max_hover, .new_products .product-layout:nth-child(6n) .product-thumb .img-max, .new_products .product-layout:nth-child(6n) .product-thumb .img-max_hover {
    display: none !important;
  }
  .products .product-layout:nth-child(5) .product-thumb .img-min, .products .product-layout:nth-child(15n) .product-thumb .img-min, .products .product-layout:nth-child(9n) .product-thumb .img-min,
  .new_products .product-layout:nth-child(1) .product-thumb .img-min, .new_products .product-layout:nth-child(6n) .product-thumb .img-min {
    display: block !important;
  }
  .product-layout .product-thumb .image .button-group {
    transform: translateY(-50px);
  }
  .product-layout .img-max_hover, .product-layout .img-min_hover {
    display: none;
  }
  .product-layout .product-thumb .image:hover .img-max, .product-layout .product-thumb .image:hover .img-min {
    opacity: 1;
  }
  .simplecheckout-step {
    display: flex;
    flex-direction: column-reverse;

    .simplecheckout-right-column, .simplecheckout-left-column {
      margin: 0;
    }

    .simplecheckout-block {
      margin-bottom: 30px;
    }
  }
  .simplecheckout .simplecheckout-right-column .simplecheckout-button-block.buttons {
    display: none;
  }
}

@media (max-width: 991px) {
  .seo_text .container {
    border-top: 1px solid #e6e6e6;
    padding-top: 60px;
  }
  .product-search .catalog_sort, .product-search .catalog_sort {
    margin-bottom: 15px;
  }
  .tab-description-title {
    margin-top: 30px;
  }
  .page_product .product_tabs-name li {
    margin: 0 15px 30px;
  }

  .account-simpleregister #content .simple-content {
    max-width: 100%;
  }
  .fixed_menu {
    padding-top: 149px;
  }
  .account-menu {
    text-align: center;
    margin-bottom: 60px;

    ul li {
      margin-bottom: 15px;
    }
  }
  .bnews-list .box-artblock {
    margin: auto;
    width: 100%;
  }
  .product_preview .container {
    max-width: 555px;
    width: 100%;
  }
  .page_product {
    .product_preview {
      height: auto;

      &-name {
        display: block;
        font-size: 35px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #333333;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 60px;
        text-align: center;

        &:after {
          content: '';
          position: absolute;
          width: 67px;
          background-color: #e88192;
          height: 2px;
          bottom: -16px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &-img {
        position: relative;
        margin: auto;
        margin-bottom: 15px;
      }

      &-content {
        h1 {
          display: none;
        }

        .top-info {
          margin-bottom: 30px;
        }

        .buttons {
          margin-bottom: 30px;
        }
      }
    }

  }
  .about_advantages-list ul {
    flex-wrap: wrap;
    justify-content: center;

    li {
      width: 220px;
      height: 220px;
      padding-top: 136px;
      margin: 15px;
    }
  }
  .mfilter-button-reset {
    width: 100% !important;
  }
  .mfilter-box {
    margin-bottom: 20px;
    overflow-y: auto;
    position: fixed;
    top: 0px;
    left: -100%;
    //left: 0;
    z-index: 30;
    background: #fff;
    width: 100%;
    height: 100%;
    transition: left .3s ease;

    .mfilter-content > ul, .mfilter-button-bottom {
      max-width: 320px;
    }

    &.active {
      left: 0;
    }

    .category_filter {
      padding: 0 15px;
      margin-bottom: 0;
    }

    .box-heading {
      padding: 27px 0;
      margin-bottom: 30px;
      border-bottom: 1px solid #e6e6e6;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #333333;
      position: relative;

      i {
        display: block;
        position: absolute;
        right: 15px;
        top: 49%;
        transform: translateY(-50%);
      }
    }
  }
  .megafilter-btn {
    display: flex;
  }
  .catalog_sort {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0;

    &-btn {
      display: flex;
    }

    ul {
      display: none;

      li {
        margin-bottom: 13px;

        &:last-child {
          margin-bottom: 30px;
        }

        &:first-child {
          display: none;
        }
      }
    }
  }
  .new_products .product-layout:nth-child(1) .product-thumb, .new_products .product-layout:nth-child(6n) .product-thumb {
    width: 212px;
    margin: 0 15px 30px;
  }
  .new_products .product-layout:nth-child(1) .product-thumb .img-min, .new_products .product-layout:nth-child(6n) .product-thumb .img-min {
    display: block;
  }
  .new_products .product-layout:nth-child(1) .product-thumb .img-max, .new_products .product-layout:nth-child(6n) .product-thumb .img-max {
    display: none;
  }
  .js_preview, .article-page .article-top {
    .container {
      width: 735px;
    }
  }
  .article-page .article-top {
    height: auto !important;
    padding-bottom: 30px;
    margin-bottom: 60px;
    padding-top: 0;
    text-align: center;

    &-content {
      padding-top: 30px;
      flex-direction: column-reverse;
    }

    &-img {
      max-width: 100%;
      margin: 0;

      img {
        position: relative;
        width: 100%;
      }

      .block_img {
        position: relative;
        width: 100%;
      }
    }

    &-info {
      max-width: 100%;
      margin: 0;
    }

    &-content {
      max-width: 100%;
      margin-right: 0;
      padding-top: 0;

      h1 {
        margin-bottom: 30px;
        text-align: center;

        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .artblock_first {
    height: auto !important;
    padding-bottom: 30px;
    margin-bottom: 60px;
    padding-top: 0;

    .layout {
      padding-top: 30px;
      flex-direction: column;
    }

    .layout-img {
      img {
        position: relative;
        width: 100%;
      }

      .block_img {
        position: relative;
        width: 100%;
      }
    }

    .layout-btn {
      margin-bottom: 30px;
    }

    .layout-content {
      max-width: 100%;
      margin-right: 0;
      padding-top: 0;

      h1 {
        margin-bottom: 30px;
        text-align: center;

        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .wishlist, .contact, .catalog, .about, .txtpage {
    &_preview {
      height: auto !important;
      padding-bottom: 30px;
      margin-bottom: 60px;

      &-container {
        padding-top: 30px;
        flex-direction: column;
      }

      &-img {
        img {
          position: relative;
          width: 100%;
        }

        .block_img {
          position: relative;
          width: 100%;
        }
      }

      &-content {
        max-width: 100%;
        margin-right: 0;
        padding-top: 0;

        h1 {
          margin-bottom: 30px;
          text-align: center;

          &:after {
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .contact_preview-info {
    margin-bottom: 30px;
  }
  .catalog_preview-description, .about_preview-info {
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
  }
  .contact_map {
    margin-bottom: 0;
  }
  .account-wishlist #content.container {
    width: 726px;
  }
  .new_products .container, .wrapper_special .container, .watched_products .container, .products_related .container {
    width: 726px;
  }
  .new_products .slick-arrow, .wrapper_special-slider .slick-arrow {
    top: 84px;
  }
  .home-news {
    .container {
      //max-width: 555px;
      width: 100%;
      margin: auto;
    }
  }
  .common-home .artblock, .news-article .artblock {
    margin: 0 !important;
  }
  .header-top {
    padding-bottom: 20px;
  }
  .header.fixed {
    .header-top-navigation {
      display: none;
    }
  }
  .baner-plus {
    width: 500px;
    margin: 0 auto 60px;
  }
  .modal_ac {
    .modal-body {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .modal_login, .modal_register {
        width: 100%;
      }
    }

    .modal-dialog {
      width: 490px;
    }
  }

  .contact_form-textarea .text-danger, .contact_form-input .text-danger {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .table-zakaz {
    width: 100%;
    overflow-y: hidden;
    min-height: .01%;
    overflow-x: auto;
    td{
      min-width: 100px;
    }
  }
  .home-news {
    .container {
      max-width: 555px;
    }
  }
  .has-error .simplecheckout-rule-group {
    position: absolute;
    bottom: -30px;
    font-size: 12px;
    top: 100%;
    transform: translateY(+4px);
  }
  .seo_text {
    padding: 0 15px;

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .home_about-content {
    width: 100%;
    text-align: center;
  }
  .image_mobal {
    display: block;
  }
  .image_desctop {
    display: none;
  }
  .fixed_menu {
    padding-top: 166px;
  }
  #popup-purchase-wrapper .popup-center {
    padding: 0 15px !important;
  }
  .article-page .article-container-text {
    text-align: center;
  }
  .article-page .article-container .blog-gallery {
    margin: 0;
  }
  .popups_block {
    width: 300px;

    &-name {
      margin-bottom: 15px;
      font-size: 14px;
    }

    a {
      font-size: 14px;
    }

    &-icon {
      width: 50px;
      min-width: 50px;
    }

    &-content {
      padding: 30px 15px;
      width: 100%;
    }
  }
  .page_404 .item-block {
    height: 100%;
    width: 100%;
    max-width: 458px;
    margin: auto;
    position: relative;

    &-bg {
      background-position: center;
    }
  }
  .home_about {
    padding: 0;
  }
  .information-contact .home_about-content {
    width: 100%;
  }
  .new_products .product-layout:nth-child(1) .product-thumb, .new_products .product-layout:nth-child(6n) .product-thumb {
    width: 290px;
  }
  .new_products .container, .wrapper_special .container, .watched_products .container, .products_related .container {
    width: 640px;
  }
  .new_products .slick-arrow, .wrapper_special-slider .slick-arrow, .watched_products-slider .slick-arrow {
    top: 123px;
  }
  .account-wishlist #content.container {
    width: 100%;

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .product-layout .product-thumb {
    width: 290px;

    .image {
      height: 290px;
    }
  }
  .products .product-layout:nth-child(5) .product-thumb, .products .product-layout:nth-child(15n) .product-thumb, .products .product-layout:nth-child(9n) .product-thumb {
    width: 290px;
  }
  .products .product-layout:nth-child(5) .product-thumb .img-max, .products .product-layout:nth-child(15n) .product-thumb .img-max, .products .product-layout:nth-child(9n) .product-thumb .img-max {
    display: none;
  }
  .products .product-layout:nth-child(5) .product-thumb .img-min, .products .product-layout:nth-child(15n) .product-thumb .img-min, .products .product-layout:nth-child(9n) .product-thumb .img-min {
    display: block;
  }
  .products .row {
    justify-content: center;
  }
  .js_preview, .article-page .article-top {
    .container {
      width: 100%;
    }
  }
  .breadcrumb-block {
    padding-top: 15px;

    .breadcrumb {
      overflow-x: hidden;
    }
  }
  .breadcrumb-block .breadcrumb li {
    margin: 0 24px 0 0;

    a {
      font-size: 13px;
    }
  }
  .wishlist_preview-img .block_img {
    height: 450px;
  }
  .footer h5 {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #333333;
    border-top: 1px solid #e6e6e6;
    padding: 12px 0;
    margin-bottom: 0;
    position: relative;

    &.active i {
      transform: translateY(-50%) rotate(180deg);
    }

    i {
      right: 0;
      font-size: 9px;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      display: block;
      transition: all .3s ease;
      position: absolute;

    }
  }
  .footer {
    padding: 15px 0;

    .footer-contact {
      display: none;
    }

    .list-unstyled {
      display: none;
      margin-bottom: 15px;
    }

    .col-sm-3:first-child h5 {
      border: 0;
    }
  }
  .header-top-navigation a {
    margin-right: 50px;
  }
  .instagram_wrapper .slick-list {
    padding: 0 62px !important;
  }
  .slider-home-dots .container .slick-dots {
    left: 50%;
    max-width: 458px;
    width: 100%;
    transform: translateX(-50%);
  }
  .header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    #logo {
      width: 100px;
    }
  }
  .header {
    padding: 15px 0;

    &.fixed {
      .header-top {
        margin: auto;
      }

      .header-top-navigation {
        display: flex;
        margin-left: 0 !important;

        .search {
          display: flex !important;
          margin-right: 0;
        }
      }
    }

    &-top {
      padding: 0;
      justify-content: center;

      .account {
        margin-right: 0;
      }
    }
  }
  .header.fixed .col-lg-10 .header-top-navigation a {
    margin-left: 50px;
  }
  .header-top-navigation .search {
    position: relative;
    margin-right: 50px;

    &.active {
      &:after {
        display: none;
      }

      input {
        width: 207px;
      }
    }

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      width: 28px;
      height: 33px;
      background-color: transparent;
      z-index: 2;
    }

    input {
      background-color: #fff;
      width: 0px;
      position: absolute;
      left: 35px;
      z-index: 1;
      transition: width .3s ease;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .baner_special {
    display: none;
  }
}

@media (max-width: 670px) {
  .new_products .container, .wrapper_special .container, .watched_products .container, .products_related .container {
    width: 320px;
  }
}

@media (max-width: 599px) {
  .tab-box .row .col-md-4:first-child .tab-description-title {
    margin-top: 0;
  }
  .baner-plus li {
    padding: 0 0 0 58px;
    font-size: 18px;
    text-align: center;
  }
  .breadcrumb-block.breadcrumb-account {
    margin-bottom: 30px;
  }
  .account-simpleedit h1, .account-password h1, .account-password h1 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }
  .account-password .form-horizontal {
    margin: 0;

    .form-group {
      width: 100%;
      padding: 0;
    }
  }
  .account-simpleedit #simpleedit {
    padding: 0;

    .form-horizontal .form-group {
      width: 100%;
    }
  }
  .simplecheckout {
    margin-bottom: 60px;
  }
  .simplecheckout .simplecheckout-button-block.buttons {
    display: flex;
    flex-direction: column;

    .btn {
      margin-bottom: 15px;
      width: 100%;
      max-width: 100%;
    }
  }
  .product_preview-content {

    .btn-wishlist {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      -webkit-box-pack: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      text-align: center;
      display: -webkit-flex;
      font-size: 15px;
      letter-spacing: 0.9px;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      color: #333333;
      span {
        display: inline-block;
        line-height: 49px;
        font-style: normal;
        font-stretch: normal;
        width: max-content;
      }
      i {
        position: relative;
        left: inherit;
        top: 0;
        margin-right: 10px;
        transform: translate(0%, 0%)!important;
        font-size: 26px;
      }
    }
  }

  #button-cart {
    text-align: center;
    padding-left: 0;

    i {
      position: relative;
      left: inherit;
      top: 6px;
      margin-right: 10px;
      transform: translateY(0%);
      font-size: 26px;
    }
  }
  .page_product .product_tabs-content {
    margin-bottom: 30px;
  }
  .page_product .product_tabs-content .tab-btn-mob {
    display: flex;
  }
  .tab-content > .tab-pane {
    display: block;
    border-bottom: 1px solid #e6e6e6;

    &:last-child {
      border: 0;
    }

    .tab-box {
      display: none;
      padding: 15px 0 30px;
    }
  }
  .page_product .product_tabs-name {
    display: none;
  }
  .page_product .product_preview {
    margin-bottom: 15px;
  }
  .watched_products {
    margin-bottom: 30px;
  }
  .products_related {
    padding: 60px 0 30px;
    margin-bottom: 60px;
  }
  .products_related h2, .watched_products h2 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.6px;
    text-align: center;
    color: #333333;
    margin-bottom: 30px;

    &:after {
      bottom: -6px;
    }
  }
  .page_product {
    .product_preview {
      height: auto;

      &-name {
        display: block;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #333333;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 30px;
        text-align: center;

        &:after {
          content: '';
          position: absolute;
          width: 67px;
          background-color: #e88192;
          height: 2px;
          bottom: -6px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &-img {
        position: relative;
        margin: auto;
        margin-bottom: 15px;
        width: 260px;

        img {
          display: none;
        }

        ul {
          width: 260px;
          bottom: auto;
          margin: auto;
          position: relative;
          display: block;

          .slick-arrow {
            background-color: #fff;
            width: 20px;
            height: 45px;
            cursor: pointer;
            transition: background-color .3s ease;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0;
            border: 0;
            z-index: 10;
            font-family: 'icomoon' !important;

            &:after {
              content: "\e903";
              font-size: 9px;
              position: absolute;
              top: 50%;
              transition: color .3s ease;
            }

            &.slick-prev {
              left: 0px;

              &:after {
                left: 45%;
                transform: translate(-50%, -50%) rotate(90deg);
              }
            }

            &.slick-next {
              right: 0px;

              &:after {
                left: 55%;
                transform: translate(-50%, -50%) rotate(-90deg);
              }
            }
          }

          li {
            border: 0;
            margin-left: 0;

            img {
              width: 100%;
              max-width: 100%;
              height: auto;
            }

            &:first-child {
              display: block;
            }
          }

          img {
            display: block;
          }
        }
      }

      &-content {
        h1 {
          display: none;
        }

        .top-info {
          margin-bottom: 30px;
        }

        .buttons {
          margin-bottom: 30px;
          flex-direction: column;

          button {
            margin-bottom: 15px;
            width: 100%;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

  }
  .contact_form-inputs {
    flex-direction: column;
    margin: 0;
  }
  .catalog_preview-content h1 {
    font-size: 20px;
  }
  .txtpage_preview-content h1 {
    font-size: 20px;
  }
  .product-special h1, .product-search h1 {
    font-size: 20px;
  }
  .wishlist_preview-img .block_img {
    height: 350px;
  }
  .account-wishlist #content.container {
    width: 320px;
  }
  .new_products .container, .wrapper_special .container {
    width: 320px;
  }
  .product-layout .product-thumb {
    position: relative;
    width: 290px;
    margin: 0 15px 30px;
  }
  .new_products .product-layout:nth-child(1) .product-thumb, .new_products .product-layout:nth-child(6n) .product-thumb {
    width: 290px;
    margin: 0 15px 30px;
  }
}

@media (max-width: 559px) {
  .user_message_wrapp {
    width: 290px;
  }
  .copyright {
    text-align: center;
  }
  .modal_ac .modal-dialog {
    width: 400px;
  }
  .modal_ac .modal-body .modal_social_log a {
    font-size: 10px;
    margin: 0 2px;
  }
  .modal_ac .modal-body {
    padding: 0 15px;
  }
  .body_call-back {
    right: 0;

    button {
      height: 44px;
      width: 44px;
    }
  }
  .copyright-content {
    flex-direction: column;
    justify-content: center;

    &-text {
      margin-bottom: 15px;
    }
  }
  .baner-plus {
    width: 250px;
  }
  .banner_category {
    margin-bottom: 0;
  }

  .new_products .btn, .home_about-open, .home-news-btn {
    margin-bottom: 60px;
  }
  .wrapper_special {
    padding-top: 0;
  }
}

@media (max-width: 490px) {
  .wishlist_preview, .contact_preview, .catalog_preview, .about_preview {
    margin-bottom: 15px;
  }
  .request_call .modal-content {
    width: 300px;
    padding: 60px 30px;

    .error {
      font-size: 13px;
    }
  }
  .wishlist_preview-content h1 {
    font-size: 20px;
  }
  .wishlist_preview-img .block_img {
    height: 250px;
  }
  .home-news-slider .news-prev {
    top: 48%;
  }
  .simplecheckout-block .checkout-cart-image {
    max-width: 60px;
    min-width: 60px;
    width: 100%;
    position: absolute;
    margin-right: 0px;
  }
  .simplecheckout-block .checkout-cart-info .name {
    padding-left: 85px;
  }
  .simplecheckout-block .checkout-cart-info .options {
    padding-left: 85px;
    min-height: 45px;
  }
  .artblock-content {
    width: 190px;
    height: 105px;
    padding: 16px 0 0 15px;

    .article-meta {
      margin-bottom: 6px;
      font-size: 13px;

      &:after {
        display: none;
      }
    }

    .name {
      font-size: 15px;
      height: 30px;
      margin-bottom: 6px;
      text-overflow: ellipsis;
      line-height: 1;
    }

    .blog-button a {
      font-size: 15px;
    }
  }
  .instagram_wrapper {
    margin-bottom: 15px;
    padding: 0 15px;
  }
  #simplecheckout_shipping_address ul.dropdown-menu li {
    padding-left: 15px;

    a {
      font-size: 12px;
    }
  }
  .checkout-simplecheckout .simplecheckout-title {
    margin-top: 30px;
    letter-spacing: normal;
  }
  .checkout-simplecheckout .simplecheckout-left-column {
    padding: 0 15px 40px;
  }
  .new_products-name, .wrapper_special-title, .home-news-title, .html_text h1, .instagram_wrapper-title, h1.about_preview-title, h1.contact_preview-title, .article-page .article-top-content h1, .checkout-simplecheckout .simplecheckout-title {
    font-size: 20px;
    margin-bottom: 30px;

    &:after {
      bottom: -6px;
    }
  }
  .banner_category-text {
    height: 70px;
    width: 210px;
    padding: 15px 10px 0 30px;
  }
  .banner_category-name {
    font-size: 15px;
  }
  .slider-home-slide .item-block-content {
    bottom: 158px;
  }
  .slider-home-dots .container .slick-dots {
    bottom: 6px;
  }
  .slider-home-slide .item-block a {
    bottom: 78px;
  }
  .slider-home-slide .item-block-txt1 {
    font-size: 60px;
    margin-bottom: 15px;
  }
  .slider-home-slide .item-block-txt2 {
    font-size: 25px;
  }
  .slider-home-slide .item-block-txt3 {
    font-size: 15px;
  }
  .slider-home-slide .item {
    height: 356px;
  }
  .slider-home-slide .item-block-bg, .slider-home-slide .item-block {
    width: 100%;
  }
  .slider-home-slide .item .container {
    width: 100%;
    padding: 0;
  }
  .slider-home {
    padding: 0 15px;
  }
}

@media (max-width: 430px) {
  #popup-purchase-wrapper .popup-center-info {
    flex-direction: column !important;
  }
  #popup-purchase-wrapper .right {
    text-align: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  #popup-purchase-wrapper .product-name {
    font-size: 18px !important;
    text-align: center;
  }
  .prod_trigger {
    margin-bottom: 60px;
  }
  .seo_text .container {
    padding-top: 60px;
  }
  .prod_trigger-line {
    width: 100%;
  }
  .prod_trigger .prod_trigger-a a {
    width: 100%;
  }
  .modal_ac .modal-dialog {
    width: 300px;
  }
  .modal_ac .modal-body {
    padding: 0 10px;
  }
  .modal_ac .modal-body .modal_help label, .modal_ac .modal-body .modal_help a {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .page_product .product_preview-content .options {
    flex-direction: column;
  }
  .page_product .product_preview-content .options-num {
    margin-left: 0;
    width: 100%;
  }
  .page_product .product_preview-content .options-select {
    margin-bottom: 15px;
  }
  .wishlist_preview-img .block_img {
    height: 172px;
  }
}