*:focus{
  outline: 0!important;
}
body{
  font-family: 'Calibri', sans-serif;
  font-weight: normal;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #333333;
  padding: 0 100px;
  max-width: 1920px;
  margin: auto;
  &.overflow_popups{
    overflow-y: hidden;
  }
}
h1{
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #1a1a1a;
}
h2{
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  color: #1a1a1a;
}
h3{
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1px;
  color: #1a1a1a;
}
a{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #e88192;
  transition: color .3s ease;
  cursor: pointer;
  &:hover,&:focus{
    color: #81b9f9;
    text-decoration: none;
  }
}
input,input.form-control{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #333333;
  padding: 15px 14px;
  height: auto;
  background-color: transparent;
  &:focus{
    border-color: #333333;
    box-shadow: none;
  }
  &.error_input{
    border-bottom-color: #e88192;
  }
}
textarea,textarea.form-control{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #333333;
  padding: 15px 14px 0;
  height: 95px;
  &:focus{
    border-color: #333333;
    box-shadow: none;
  }
  &.error_input{
    border-bottom-color: #e88192;
  }
}
ul{
  padding-left: 0px;
  list-style: none;
  li{
    position: relative;
    padding-left: 21px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
    &:after{
      content: '';
      width: 6px;
      height: 6px;
      background-color: #e88192;
      border-radius: 50%;
      top: 6px;
      left: 0;
      position: absolute;
    }
    ul{
      li:after{
        background-color: #81b9f9;
      }
    }
  }
}
ol{
  padding-left: 0px;
  list-style: none;
  counter-reset: num;
  li{
    position: relative;
    padding-left: 21px;
    &:before {
      content: counter(num) '. ';
      counter-increment: num;
      color: #e88192;
      top: 0;
      left: 0;
      position: absolute;
    }
    ol{
      li:before{
        color: #81b9f9;
      }
    }
  }
}
input[type="checkbox"],input[type="radio"]  {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
input[type="checkbox"] + label,input[type="radio"] + label {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
}
input[type="checkbox"] + label:before,input[type="radio"] + label:before {
  content: '';
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #333333;
}
input[type="checkbox"] + label:after,input[type="radio"] + label:after {
  content: '\e902';
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  left: 3px;
  font-family: 'icomoon' !important;
  opacity: 0;
  font-size: 10px;
}
input[type="checkbox"]:checked + label:after,input[type="radio"]:checked + label:after {
  opacity: 1;
  color:#e88192;
}
input[type="checkbox"]:checked + label,input[type="radio"]:checked + label{
  color:#e88192!important;
}
input[type="checkbox"]:checked + label:before,input[type="radio"]:checked + label:before {
  border-color: #e88192;
}
.margin_b_60{
  margin-bottom: 60px;
}