#popup-purchase-wrapper {
    background: #fff;
    max-width: 480px;
    width: 95%;
    margin: 0 auto;
    min-height: 100px;
    position: relative;
    padding: 60px 0;
}
#popup-purchase-wrapper .popup-heading {
    text-align: center;
    background-color: transparent;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;
}
#popup-purchase-wrapper .popup-heading:after{
    content: '';
    width: 30px;
    height: 2px;
    background-color: #f5899c;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}
#popup-purchase-wrapper .mfp-close {
    right: 0;
    font-size: 0;
    top: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer !important;
    outline: none;
    border: 0;
    font-family: 'icomoon' !important;
}
#popup-purchase-wrapper .mfp-close:after{
    content: "\e910";
    font-size: 15px;
    color: #000000;
}
#popup-purchase-wrapper .mfp-close:hover {
    background-position: 0 -60px;
}
#popup-purchase-wrapper .popup-footer {
    padding: 45px 0 0;
}
#popup-purchase-wrapper .popup-footer a{
    margin: auto;
}
#popup-purchase-wrapper .text-danger{
    position: absolute;
    bottom: -25px;
}
/*#popup-purchase-wrapper .popup-footer button {*/
    /*height: 32px;*/
    /*line-height: 30px;*/
    /*color: #000;*/
    /*padding: 0 25px;*/
    /*cursor: pointer;*/
    /*font-size: 12px;*/
    /*display: inline-block;*/
    /*border: 1px solid #c5cdd8;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
    /*background: #f2f6f9;*/
    /*border-radius: 2px;*/
    /*outline: none;*/
    /*text-align: center;*/
/*}*/
/*#popup-purchase-wrapper .popup-footer button:hover {*/
    /*box-shadow: 0 0px 1px rgba(0, 0, 0, .1);*/
/*}*/
/*#popup-purchase-wrapper .popup-footer a {*/
    /*float: right;*/
    /*border: 1px solid #f06b10;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
    /*background: #ff8001;*/
    /*color: #fff;*/
    /*font-size: 13px;*/
    /*font-weight: bold;*/
    /*height: 33px;*/
    /*line-height: 33px;*/
    /*padding: 0 30px;*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
    /*border-radius: 2px;*/
    /*text-align: center;*/
/*}*/
#popup-purchase-wrapper .popup-center {
    background: #fff;
    padding: 0 60px;
    overflow: auto;
}
#popup-purchase-wrapper .popup-center-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
}
#popup-purchase-wrapper .left {
    width: 100%;
}
#popup-purchase-wrapper .right {
    margin-right: 30px;
}
#popup-purchase-wrapper .right img {
}
#popup-purchase-wrapper .right .sub-images {
    display: block;
    text-align: center;
    margin-top: 10px;
}
#popup-purchase-wrapper .right .sub-images > span label {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: #bbb;
    display: inline-block;
}
#popup-purchase-wrapper .right .sub-images input {
    display: none;
}
#popup-purchase-wrapper .right .sub-images input[type=radio]:checked + label {
    background: #e5e5e5;
}
#popup-purchase-wrapper .right .sub-images > span + span {
    margin-left: 5px;
}
#popup-purchase-wrapper .right .sub-images > span label:hover {
    cursor: pointer;
    background: #e5e5e5;
}
#popup-purchase-wrapper .product-block-prise{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
#popup-purchase-wrapper .product-name {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin-bottom: 10px;
}
#popup-purchase-wrapper .product-art {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin-bottom: 7px;
}
#popup-purchase-wrapper .product-price {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e88192;
}
#popup-purchase-wrapper .product-description {
    max-height: 120px;
    overflow-y: auto;
    margin: 15px 0;
}
#popup-purchase-wrapper .payment-info {
    clear: both;
}
#popup-purchase-wrapper .info-heading {
    font-size: 15px;
    display: block;
    color: #000;
    text-align: left;
}
#popup-purchase-wrapper .info-heading-2 {
    font-size: 15px;
    display: block;
    color: #000;
    text-align: left;
    margin: 5px 0 10px 0;
}
#popup-purchase-wrapper .payment-info > div {
    width: 100%;
    display: inline-block;
}
#popup-purchase-wrapper .payment-info > div {
    margin-bottom: 25px;
    position: relative;
}
#popup-purchase-wrapper .payment-info > div label {
    font-size: 12px;
    line-height: 12px;
    color: #666;
    font-weight: bold;
    margin-bottom: 2px;
}
#popup-purchase-wrapper .payment-info > div label span {
    color: #f00;
}
#popup-purchase-wrapper .payment-info > div input, #popup-purchase-wrapper .payment-info > div textarea {

    width: 100%;
}
#popup-purchase-wrapper .payment-info > div textarea {
    min-height: 70px;
    resize: vertical;
}
.payment-quantity {
    position: relative;
}
.payment-quantity label {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #666;
    font-weight: bold;
    margin-bottom: 4px;
}
.payment-quantity .number {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.payment-quantity .frame-change-count {
    width: 77px;
    position: absolute;
    height: 49px;

}
.payment-quantity .btn-plus button {
    width: 26px;
    height: 49px;
    cursor: pointer;
    display: inline-block;
    border: 0;
    background-color: transparent;
    outline: none;
    line-height: 5px;
    text-align: center;
    position: relative;
}
.payment-quantity .btn-minus button {
    width: 26px;
    height: 49px;
    cursor: pointer;
    display: inline-block;
    border: 0;
    outline: none;
    background-color: transparent;
    text-align: center;
    line-height: 0;
    position: relative;
}
.payment-quantity .btn-minus button span {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%) rotate(90deg);
    display: inline-block;
    font-size: 9px;
}
.payment-quantity .btn-plus button span {
    font-size: 9px;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%) rotate(-90deg);
    display: inline-block;
}
.payment-quantity .btn-plus {
    float: right;
}
.payment-quantity .btn-minus {
    float: left;
}
.payment-quantity input.plus-minus {
    width: 77px;
    text-align: center;
}
.masked {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: #eee;
    opacity: 0.4;
    left: 0;
    top: 0;
}
.masked_loading {
    background: url(ring-alt.svg) no-repeat center center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10001;
    top: 0;
    left: 0;
}
.popup-purchase-button {
    text-align: center;
}
.popup-purchase-button button {
    width: 100% !important;
}
@media (min-width: 320px) and (max-width: 532px) {
    #popup-purchase-wrapper .popup-heading {
        font-size: 14px;
    }
    #popup-purchase-wrapper .popup-footer button {
        width: 100%;
    }

    #popup-purchase-wrapper .right {
        /*width: 100%;*/
        /*text-align: center;*/
    }
    #popup-purchase-wrapper .left {
        width: 100%;
    }
}