<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="<?php echo $insert; ?>" data-toggle="tooltip" title="<?php echo $button_insert; ?>" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                <button type="submit" form="form-blog" formaction="<?php echo $copy; ?>" data-toggle="tooltip" title="<?php echo $button_copy; ?>" class="btn btn-default"><i class="fa fa-copy"></i></button>
                <button type="button" data-toggle="tooltip" title="<?php echo $button_delete; ?>" class="btn btn-danger" onclick="confirm('<?php echo $text_confirm; ?>') ? $('#form-blog').submit() : false;"><i class="fa fa-trash-o"></i></button>
            </div>
            <h1><?php echo $heading_title; ?></h1>
            <ul class="breadcrumb">
                <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div class="container-fluid">

        <?php echo $newspanel; ?>

        <?php if ($error_warning) { ?>
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        <?php } ?>
        <?php if ($success) { ?>
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        <?php } ?>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> <?php echo $heading_title; ?> list</h3>
            </div>
            <div class="panel-body">
                <div class="content">
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="input-name"><?php echo $column_title; ?></label>
                                    <input type="text" name="filter_name" value="<?php echo $filter_name; ?>" placeholder="<?php echo $column_title; ?>" id="input-name" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label class="control-label" for="input-status"><?php echo $column_category; ?></label>
                                    <select name="filter_category" id="input-status" class="form-control">
                                        <option value="*"></option>
                                        <?php foreach ($categories as $category) { ?>
                                            <?php if ($category['ncategory_id']==$filter_category) { ?>
                                                <option value="<?php echo $category['ncategory_id']; ?>" selected="selected"><?php echo $category['name']; ?>&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                            <?php } else { ?>
                                                <option value="<?php echo $category['ncategory_id']; ?>">&nbsp;&nbsp;<?php echo $category['name']; ?>&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                            <?php } ?>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="input-status"><?php echo $column_status; ?></label>
                                    <select name="filter_status" id="input-status" class="form-control">
                                        <option value="*"></option>
                                        <?php if ($filter_status) { ?>
                                            <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                                        <?php } else { ?>
                                            <option value="1"><?php echo $text_enabled; ?></option>
                                        <?php } ?>
                                        <?php if (($filter_status !== null) && !$filter_status) { ?>
                                            <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                                        <?php } else { ?>
                                            <option value="0"><?php echo $text_disabled; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> <?php echo $button_filter; ?></button>
                            </div>
                        </div>
                    </div>
                    <form action="<?php echo $delete; ?>" method="post" enctype="multipart/form-data" id="form-blog">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'delete\']').attr('checked', this.checked);" /></td>
                                    <td class="text-left">
                                        <?php if ($sort == 'nd.title') { ?>
                                            <a href="<?php echo $sort_title; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_title; ?></a>
                                        <?php } else { ?>
                                            <a href="<?php echo $sort_title; ?>"><?php echo $column_title; ?></a>
                                        <?php } ?>
                                    </td>
                                    <td class="text-left">
                                        <?php if ($sort == 'na.name') { ?>
                                            <a href="<?php echo $sort_author; ?>" class="<?php echo strtolower($order); ?>"><?php echo $entry_nauthor; ?></a>
                                        <?php } else { ?>
                                            <a href="<?php echo $sort_author; ?>"><?php echo $entry_nauthor; ?></a>
                                        <?php } ?>
                                    </td>
                                    <td class="text-left">
                                        <?php if ($sort == 'n2c.ncategory_id') { ?>
                                            <?php echo $column_category; ?>
                                        <?php } else { ?>
                                            <?php echo $column_category; ?>
                                        <?php } ?>
                                    </td>
                                    <td class="text-left">
                                        <?php if ($sort == 'n.status') { ?>
                                            <?php echo $column_status; ?>
                                        <?php } else { ?>
                                            <?php echo $column_status; ?>
                                        <?php } ?>
                                    </td>
                                    <td class="text-right"><?php echo $column_action; ?></td>
                                </tr>
                                </thead>
                                <tbody>
                                <?php if ($news) { ?>
                                    <?php $class = 'odd'; ?>
                                    <?php foreach ($news as $news_story) { ?>
                                        <?php $class = ($class == 'even' ? 'odd' : 'even'); ?>
                                        <tr class="<?php echo $class; ?>">
                                            <td align="text-center" style="padding-top: 4px;">
                                                <?php if ($news_story['delete']) { ?>
                                                    <input type="checkbox" name="delete[]" value="<?php echo $news_story['news_id']; ?>" checked="checked" />
                                                <?php } else { ?>
                                                    <input type="checkbox" name="delete[]" value="<?php echo $news_story['news_id']; ?>" />
                                                <?php } ?>
                                            </td>
                                            <td class="text-left"><?php echo $news_story['title']; ?></td>
                                            <td class="text-left"><?php echo $news_story['author']; ?></td>
                                            <td class="text-left">
                                                <?php foreach ($categories as $category) { ?>
                                                    <?php if (in_array($category['ncategory_id'], $news_story['category'])) { ?>
                                                        <?php echo $category['name'];?><br>
                                                    <?php } ?>
                                                <?php } ?></td>

                                            <td class="text-right"><?php echo $news_story['status']; ?></td>
                                            <td class="text-right">
                                                <?php foreach ($news_story['action'] as $action) { ?>
                                                    <a href="<?php echo $action['href']; ?>" data-toggle="tooltip" title="<?php echo $action['text']; ?>" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                                <?php } ?>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                <?php } else { ?>
                                    <tr class="even">
                                        <td class="text-center" colspan="5"><?php echo $text_no_results; ?></td>
                                    </tr>
                                <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
                        <div class="col-sm-6 text-right"><?php echo $results; ?></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script   ><!--
        $('#button-filter').on('click', function() {
            var url = 'index.php?route=catalog/news&token=<?php echo $token; ?>';

            var filter_name = $('input[name=\'filter_name\']').val();

            if (filter_name) {
                url += '&filter_name=' + encodeURIComponent(filter_name);
            }

            var filter_status = $('select[name=\'filter_status\']').val();

            if (filter_status != '*') {
                url += '&filter_status=' + encodeURIComponent(filter_status);
            }
            var filter_category = $('select[name=\'filter_category\']').val();

            if (filter_category != '*') {
                url += '&filter_category=' + encodeURIComponent(filter_category);
            }

            location = url;
        });
        //--></script>
    <?php echo $footer; ?>
