@font-face {
    font-family: 'Calibri';
    src: url('./Calibri/Calibri.ttf');
    src: url('./Calibri/Calibri.eot?iefix') format('eot'),
    url('./Calibri/Calibri.woff') format('woff'),
    url('./Calibri/Calibri.ttf') format('truetype'),
    url('./Calibri/Calibri.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('./CALIBRIB/CALIBRIB.ttf');
    src: url('./CALIBRIB/CALIBRIB.eot?iefix') format('eot'),
    url('./CALIBRIB/CALIBRIB.woff') format('woff'),
    url('./CALIBRIB/CALIBRIB.ttf') format('truetype'),
    url('./CALIBRIB/CALIBRIB.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}