<div class="about_preview">
    <div class="container">
        <div class="about_preview-container">
            <div class="about_preview-content">
                <h1 class="about_preview-title">Про нас</h1>
                <div class="about_preview-info">
                    Компанія використовує самі передові технології і натуральні якісні матеріали, які не
                    завдають шкоди навколишньому середовищу і здоров'ю людини. Широкий асортимент нашої
                    продукції, який об'єднує бездоганну якість і стиль, можна придбати в магазинах по всій
                    Туреччині, Болгарії, Греції, Польщі, Румунії та, звичайно ж, України. Ми допоможемо додати
                    фарб в інтер'єр Вашого будинку, щоб він став надзвичайно затишним, стильним і красивим!
                </div>
            </div>
            <div class="about_preview-img">
                <div class="block-img"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="about_advantages">
        <div class="about_advantages-title">
            наші переваги
        </div>
        <div class="about_advantages-list">
            <ul>
                <li>
                    <i class="icon-award"></i>
                    <p>Якісна продукція</p>
                </li>
                <li>
                    <i class="icon-towel"></i>
                    <p>Натуральні тканини</p>
                </li>
                <li>
                    <i class="icon-wallet"></i>
                    <p>Доступні ціни</p>
                </li>
                <li>
                    <i class="icon-package"></i>
                    <p>Швидка доставка</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="about_text_content">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <p class="bold">На перший погляд відповідь проста - купити товари для дому, постільна білизна,
                    плед або подушку. Але це тільки на перший погляд. Головне, що ми вам пропонуємо - це дружбу
                    і чесні партнерські відносини.
                    <br>
                    <br>
                    Ми завжди готові порадити і запропонувати вам саме той товар, який потрібен вам. Ми
                    підберемо нашим улюбленим клієнтам тільки те, що купили б самі для себе.</p>
                <div class="block-img-1"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <p>На сьогодні до складу «Мальва» входить більше ніж 2 500 магазинів у 49 країнах світу: Данія,
                    Норвегія, Швеція, Фінляндія, Польща, Чехія, Угорщина, Голландія, Словаччина, Німеччина,
                    Австрія, Швейцарія, Ісландія, Канада, Гренландія, Фарерські Острови, Естонія, Латвія, Литва,
                    Україна, Косово, Болгарія, Казахстан, Румунія, Франція, Великобританія, Словенія, Македонія,
                    Хорватія, Італія, Іспанія, Боснія та Герцеговина, Китай, Сербія, Вірменія, Чорногорія,
                    Індонезія, Греція, Сінгапур, Албанії, В’єтнаму, Мальта, Португалія, Грузія, Білорусь,
                    Таджикистан, Молдова, Бельгія i Кувейт.
                    <br>

                    <br>
                    Щорічний обіг групи сягає приблизно 3,36 мільярда євро. Розвиток групи є стабільним і
                    надійно контролюється. Загальна кількість персоналу становить близько 22 000 співробітників.
                    <br>
                    <br>
                    На перший погляд відповідь проста - купити товари для дому, постільна білизна, плед або
                    подушку. Але це тільки на перший погляд. Головне, що ми вам пропонуємо - це дружбу і чесні
                    партнерські відносини. Ми завжди готові порадити і запропонувати вам саме той товар, який
                    потрібен вам. Ми підберемо нашим улюбленим клієнтам тільки те, що купили б самі для себе.
                    <br>
                    <br>
                    Компанія використовує самі передові технології і натуральні якісні матеріали, які не
                    завдають шкоди навколишньому середовищу і здоров'ю людини. Широкий асортимент нашої
                    продукції, який об'єднує бездоганну якість і стиль, можна придбати в магазинах по всій
                    Туреччині, Болгарії, Греції, Польщі, Румунії та, звичайно ж, України. Ми допоможемо додати
                    фарб в інтер'єр Вашого будинку, щоб він став надзвичайно затишним, стильним і красивим!</p>
            </div>
        </div>
    </div>
</div>